<section id="cart-drawer">
  <div class="background-light-teal flex-container-no jcsb accent-padding">
    <a href="/cart">
      <img src="{{'bag.png' | asset_url}}" class="icon" id="go-to-cart" loading="lazy"/>
    </a>
    <h3 class="tac nm accent ttu text-white">Shopping Bag</h3>
    <img src="{{'exit.png' | asset_url}}" class="icon clickable" id="close-cart" onclick="cartClose();" loading="lazy">
  </div>
  <div class="accent-padding background-white">
  <p class="tac subscript text-dark-teal fw" id="free-2-day">Free Shipping on Orders over $80</p>
  <p class="tac subscript text-holiday-red fw" id="free-2-day"><b>Orders not guaranteed to arrive by Christmas</b></p>

{% for item in cart.items %}
  <div class="border-bottom-natural" data-product-id="{{ item.product_id }}" data-variant-id="{{ item.id }}">
      <div class="flex-container">

        <div class="quarter"> 
          <a href="{{ item.url}}">
            <img src="{{ item.variant.featured_image | product_img_url: 'large' }}"  alt="{{ item.product.title }}">
          </a>
        </div>
        <div class="accent-padding fw half">
          <h4 class="ttu">{{ item.product.title }}</h4>

          {% if item.product.tags contains "wholesale" %}
            <p class="nm subscript text-red">Wholesale Item</p>
          {% endif %}
          {%  if  item.selling_plan_allocation.selling_plan.selected == false %}
            <p class="nm subscript text-red">Subscription - {{ item.selling_plan_allocation.selling_plan.name }}</p>
          {%  endif %}

          <div id="cart-drawer-qty">
            <button type="button" class="cart-drawer-qty-adjust"><span class="icon clickable">-</span></button>
            <input type="text" class="cart-drawer-qty-num">
            <button type="button" class="cart-drawer-qty-adjust"><span class="icon clickable">+</span></button>
          </div>

          <p><b>Style: </b>{{ item.variant.title }}</p>
          <p>{{ item.line_price | divided_by: item.quantity | money }}</p>

        </div>

      </div>
  </div>
{% endfor %}
</div>
{% comment %} payment etc {% endcomment %}
<div class="accent-padding" style="background-color: #f7f5f2;">
  <button type="submit" class="add-to-cart btn btn--secondary btn--full cart__checkout btn clickable fw" name="checkout" style="margin-top: 0.5em; height: 54px">
    <h4 class="ttu text-white nm">Checkout - {{ cart.total_price | money }}</h4>
  </button>

  {% if additional_checkout_buttons %}
    <p class="subscript tac fw">other payment options</p>
    <div class="additional-checkout-buttons additional-checkout-buttons--vertical">{{ content_for_additional_checkout_buttons }}</div>
  {% endif %}

  {% render 'cart-drawer-bundle-logic' %}
  {% render 'gift-box-cart-drawer' %}
</div>

</section>

<script>
  $(document).ready(function() {
    setInterval(function() {
      $('#free-2-day').toggleClass("text-dark-teal"); 
    }, 1000)
  }); 

  $('#close-cart').click(function() {
    $('#cart-drawer').addClass('slide-out')
  })
</script>

<style>
  #cart-drawer {
    position: fixed;
    width: 50vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    min-width: 320px;
    max-width: 800px;
    z-index: 9999;
    right: 0;
    top: 0;
    box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 12px 0 15px -4px grey, -12px 0 15px -4px grey;
  }

  #cart-drawer-qty {
    border: 1px solid lightgray;
    border-radius: 20px;
    width: fit-content;
    padding: 0 10px;
  }

  .cart-drawer-qty-num {
    height: 25px;
    width: 15px;
    border: none;
  }

  .cart-drawer-qty-adjust {
    border: none;
    background: transparent;
  }
  
  .border-bottom-natural:last-of-type { border-bottom: none }

  #add-gift-box-to-cart {
    border-radius: 10px;
    margin-top: 10px;
  }
  #add-gift-box-to-cart h4 {
    font-weight: normal; 
    padding: 5px;
  }
  
  @media only screen and (min-width: 800px) {
    .close-gift-box-modal {
      position: absolute;
      right: 20pt;
      top: 20pt;
      font-size: 20pt;
    }
    #add-gift-box-to-cart h4 { font-size: 16pt;}
    #gift-box-details {
      margin: 0; 
      padding-left: 1.5vw;
    }
  }
  @media only screen and (max-width: 799px) {
    .close-gift-box-modal {
      position: absolute;
      right: 10pt;
      top: 10pt;
      font-size: 10pt;
    }
   #add-gift-box-to-cart h4 { font-size: 12pt;}
    #gift-box-details {
      margin: 0; 
      padding-left: 15pt;
    }
  }
  #gift-box-modal {
    z-index: 999;
    width: 85%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    border: 1px solid #2d2b26;
    box-shadow: 2px 5px 5px #2d2b267d;
    border-radius: 20px;
  }
  #gift-box-callout { 
    border-bottom: 1px solid #2d2b26; 
    font-weight: inherit
  }
  #gift-box-info {
    baseline-shift: super;
    vertical-align: super;
    font-size: 8pt;
    background-color: #66cad8;
    border-radius: 100%;
    width: 13px;
    height: 13px;
    display: inline-block;
    text-align: center;
    color: white;
  }
</style>