<main id="{{collection.title | handleize}}"> 
  <section class="collection-header double-accent-padding" id="{{collection.title | handleize}}-wrapper">
    {% if collection.title contains 'Women' %}
    <!-- Do Not Remove - Turn Tracking Beacon Code - Do Not Remove --> <!-- Advertiser Name : PACAS --> <!-- Beacon Name : PACAS-GROWTH PLAN-FALL 2021-LP-WOMENS-PERFORMANCE --> <!-- If Beacon is placed on a Transaction or Lead Generation based page, please populate the turn_client_track_id with your order/confirmation ID --> <script type="text/javascript"> turn_client_track_id = ""; </script> <script type="text/javascript" src="https://r.turn.com/server/beacon_call.js?b2=vHtoK0vKtaAv4FXLMSpsGy9i7drmfRivDx34Iu1lyOHEFrIWTIJNGNkEc0znUj0F3uiL6zX34JCoCJbP209vcw"> </script> <noscript> <img border="0" src="https://r.turn.com/r/beacon?b2=vHtoK0vKtaAv4FXLMSpsGy9i7drmfRivDx34Iu1lyOHEFrIWTIJNGNkEc0znUj0F3uiL6zX34JCoCJbP209vcw&cid="> </noscript> <!-- End Turn Tracking Beacon Code Do Not Remove -->
    {% elsif collection.title contains 'Men' %}
    {% else %}
    <!-- Do Not Remove - Turn Tracking Beacon Code - Do Not Remove --> <!-- Advertiser Name : PACAS --> <!-- Beacon Name : PACAS-GROWTH PLAN-FALL 2021-LP-YOUTH-CREW --> <!-- If Beacon is placed on a Transaction or Lead Generation based page, please populate the turn_client_track_id with your order/confirmation ID --> <script type="text/javascript"> turn_client_track_id = ""; </script> <script type="text/javascript" src="https://r.turn.com/server/beacon_call.js?b2=XZ7oa4ydMK3w_CGL3ZpAqZg9qMLE8U4_kiTbbnpPjurEFrIWTIJNGNkEc0znUj0F3ATHRmiK_sFSOHCVcDerAA"> </script> <noscript> <img border="0" src="https://r.turn.com/r/beacon?b2=XZ7oa4ydMK3w_CGL3ZpAqZg9qMLE8U4_kiTbbnpPjurEFrIWTIJNGNkEc0znUj0F3ATHRmiK_sFSOHCVcDerAA&cid="> </noscript> <!-- End Turn Tracking Beacon Code Do Not Remove -->
    <!-- Do Not Remove - Turn Tracking Beacon Code - Do Not Remove --> <!-- Advertiser Name : PACAS --> <!-- Beacon Name : PACAS-GROWTH PLAN-FALL 2021-LP-MENS-LOW-CUT --> <!-- If Beacon is placed on a Transaction or Lead Generation based page, please populate the turn_client_track_id with your order/confirmation ID --> <script type="text/javascript"> turn_client_track_id = ""; </script> <script type="text/javascript" src="https://r.turn.com/server/beacon_call.js?b2=GAmb1Dpb0M7W_BAiH99c8-i22DCiRxuAZtVNe01Us1zEFrIWTIJNGNkEc0znUj0FQzYG5um_uJ9sIKsz2Pw_og"> </script> <noscript> <img border="0" src="https://r.turn.com/r/beacon?b2=GAmb1Dpb0M7W_BAiH99c8-i22DCiRxuAZtVNe01Us1zEFrIWTIJNGNkEc0znUj0FQzYG5um_uJ9sIKsz2Pw_og&cid="> </noscript> <!-- End Turn Tracking Beacon Code Do Not Remove -->
    {% endif %}
    {% if collection.title contains "'s"  %}
    <div>
      <h2 class="nm  ttu">{{collection.title | truncatewords: 1, ""}}</h2>        
      <h1 class="nm ttu" style="margin-top: -2vw;">{{ collection.title | remove: "Women's" | remove: "Men's"}}</h1>
    </div>
    {% else %}
    <h1 class="ttu nm">{{collection.title}}!</h1>
    {% endif %}
  </section>

  <style>
  .collection-header { 
    background-image: url("{{'rebrand-collection2.jpg' | asset_url}}"); 
    background-size:  cover; 
    background-position:  bottom;
  }
  .border-bottom-purple {
    border-bottom:  1px solid #9093c8;
  }
  </style>
    <svg xmlns="http://www.w3.org/2000/svg" class="updated-topper do"viewBox="0 100 1440 220"><path fill="white" fill-opacity="1" d="M0,224L40,224C80,224,160,224,240,197.3C320,171,400,117,480,128C560,139,640,213,720,229.3C800,245,880,203,960,176C1040,149,1120,139,1200,160C1280,181,1360,235,1400,261.3L1440,288L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z" ></path></svg>  
    <svg xmlns="http://www.w3.org/2000/svg" class="topper mo"viewBox="0 0 1440 320"><path fill="#a0dbe3" fill-opacity="1" d="M0,224L40,224C80,224,160,224,240,197.3C320,171,400,117,480,128C560,139,640,213,720,229.3C800,245,880,203,960,176C1040,149,1120,139,1200,160C1280,181,1360,235,1400,261.3L1440,288L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z" ></path></svg>  
        <section class="mo background-light-teal accent-padding tac">
      <h3 class="ttu nm text-white vis-hid">Filter</h3>
    </section>
  <div class="background-white flex-container aifs" >
    <div class="flex-container-no mo jes" style="padding: 5px;">
        <div class="background-natural one-third" style="padding: 10px; margin: 5px; border-radius: 10px;">
      <a href="/collections/all-socks">
        <p class="nm tac">Socks</p>
    </a>
      </div>
        <div class="background-natural one-third" style="padding: 10px; margin: 5px; border-radius: 10px;">
    <a href="/products/pacas-super-soft-throw-blanket"/>
        <p class="nm tac">Throws</p>
    </a>
      </div>
            <div class="background-natural one-third" style="padding: 10px; margin: 5px; border-radius: 10px;">
    <a href="/collections/scarves">
        <p class="nm tac">Scarves</p>
    </a>
      </div>
<!--       <div class="background-natural quarter" style="padding: 10px; margin: 5px; border-radius: 10px;">
        <p class="nm tac">Other</p>
      </div> -->
    </div>
  <div class="do double-accent-padding">
    <h3 class="ttu detail-accent">Products</h3>
    <a href="/collections/all-socks"/><p class="nm">Socks</p></a>
    <a href="/products/pacas-super-soft-throw-blanket"><p class="nm">Throws</p></a>
    <a href="/collections/scarves"><p class="nmt">Scarves</p></a>
    
  </div>
		{% if collection.title == "Toddler" or collection.title == "Men's Performance" %}
<section class="double-accent-padding tac ib fw ma" style="box-sizing: border-box;">
    <h2 class="ttu nm">Coming Soon.</h2>
    <p>Coming the week of October 1st</p>
</section>
    	{% endif %}
  <section class="row double-padding-tbo">
      {% assign products = collection.products  %}
      {% for product in products %}
 		{% if product.available %}
        {%  if product.title contains "Mystery" %}
          {%  else  %}
    	{% assign availableVariantString = "" %}
    	{% for variant in product.variants  %}
          {% if variant.available %}
    		{% assign availableVariantString = availableVariantString | append: variant.id | append: "," %}
    	  {% endif %}
   		{% endfor %}
    
    	{% assign availableVariantIndex = availableVariantString | split: ',' %}
        {% assign min = 0 %}
        {% assign max = availableVariantIndex | size %}
        {% assign diff = max | minus: min %}
    
        {% assign randomNumber1 = "now" | date: "%N" | modulo: diff | plus: min %}
        {% assign randomNumber2 = "now" | date: "%N" | modulo: diff | plus: min %}
        {% assign randomNumber3 = "now" | date: "%N" | modulo: diff | plus: min %}

    	{% assign variant_id = availableVariantIndex[randomNumber1] | times: 1  %}
       	{% assign variant_id2 = availableVariantIndex[randomNumber2] | times: 1 %}
    	{% assign variant_id3 = availableVariantIndex[randomNumber3] | times: 1 %}
		{% assign variant = product.variants | where: 'id', variant_id | first %}

              <section class=" col {% for tag in product.tags %}{{tag | handleize}} {%endfor%}" id="{{product.title | truncatewords: 1,''}}-{{variantCount}}">
                <section class="card">
                  <a href="{{product.url}}" onclick="ga('send', 'event', 'Collections Page', '{{collection.title | handleize}}', '{{product.title | handleize}}-{{variantCount}}');">
                  <div class="product-collection-wrapper">
                    <div class="accent-padding">
                      <div class="slvr-col-img-wrapper">
                        <img data-src="{{ variant.image | product_img_url: '500x500' }}" alt="{{product.title}}" class="lazyload"/> 
                      </div> 
                      <h3 class=" nmb">{{product.title}}</h3>
                      </a>
                      <div class="acfe">

                 <!--            store variant as data attr on circle  -->
                    {% capture limit_color %}
                    {% if product.tags contains "Kids" %}
                      {{ product.variants.size | divided_by: 1}}
                    {% else %}
                      {{ product.variants.size | divided_by: 2}}
                    {% endif %}
                    {% endcapture %}


                      {% for variant in product.variants | limit: limit_color%}
                        {% if variant.available %}
                          {%assign variantId = "{{variant.id}} %}
                          <div data-image-src="{{ variant.image.src | product_img_url: '500x500'  }}" class="clickable {{option | handleize}} color-preview-circle" style="background-image: url({{ variantId | append: '.png' | asset_url }});background-size: cover;" ></div>
                        {% endif %}
                      {% endfor %}
                    </div>
                    <p class="nm text-dark-purple subscript">{{ product.price | money }} <span class="strikethrough text-dark-purple">{{product.compare_at_price | money}}</span></h4>
                                         {% assign variantCount = variantCount | plus: 3 %}

                  </div>
                </div>
            </section>
          </section>
        {% endif %}
          {%  endif %}
  {% endfor%}
</div>

<style>
  .selected-prev { border: 1px inset #666562; border-radius: 100%; }
</style>




       <script>
      $('.color-preview-circle').click(function() {
        event.preventDefault(); 
        $(this).addClass('selected-prev').siblings().removeClass('selected-prev')
        var imageDisplay = $(this).parent().siblings().children('.slvr-col-img-wrapper').find('img')
        console.log(imageDisplay)
        var newImage = $(this).data("image-src")
        $(imageDisplay).attr("src", newImage); 

      }); 

     

    </script> 


  </section>
 <section class="flex-container" id="photo-highlight-cta">
    <div class="half flex-container-no" id="winter-socks">
      <div class="double-accent-padding">
        <h3 class="text-natural ttu nm tac">New<br class="do"> Crew</br> Socks</h3>
        <a href="/collections/womens-crew">
          <div class="animated-button-red ma animated-button">
            <h2 class="text-natural ttu tac">Shop Now</h2>
          </div>
        </a>
      </div>
    </div>
    <div class="side-border"></div>
    <div class="half flex-container-no" id="find-your-match">
     <div class="double-accent-padding">
        <h3 class="text-natural ttu nm tac">New</br> Low Cuts</h3>
        <a href="/collections/womens-low-cut">
        <div class="animated-button-red animated-button ma">
          <h2 class="text-natural ttu tac">Shop Now</h2>
        </div>
        </a>
      </div>
    </div>
  </section>
  <section class="background-teal ofxh">
          <div class="fw flex-container index-product-preview-wrapper double-accent-padding" id="socks-quick">
        <div class="one-third index-product-preview">
        </div>
        <div class="one-third index-product-preview">
        </div>
        <div class="one-third index-product-preview">
        </div>
        <div class="one-third index-product-preview">
        </div>
      </div>
        <svg xmlns="http://www.w3.org/2000/svg" class="footer-topper"viewBox="0 0 1440 320"><path fill="white" fill-opacity="1" d="M0,224L40,224C80,224,160,224,240,197.3C320,171,400,117,480,128C560,139,640,213,720,229.3C800,245,880,203,960,176C1040,149,1120,139,1200,160C1280,181,1360,235,1400,261.3L1440,288L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z" ></path></svg>  
    <svg xmlns="http://www.w3.org/2000/svg" class="footer-topper"viewBox="0 100 1440 220"><path fill="white" fill-opacity="1" d="M0,224L40,224C80,224,160,224,240,197.3C320,171,400,117,480,128C560,139,640,213,720,229.3C800,245,880,203,960,176C1040,149,1120,139,1200,160C1280,181,1360,235,1400,261.3L1440,288L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z" ></path></svg>  
        <div class="background-white">
         <svg width="100%" height="15vw" viewBox="0 100 1098.72 89.55" style="margin-top: -7%;margin-left: 34vw;">
              <path id="curve" fill="transparent" d="M0,224L40,224C80,224,160,224,240,197.3C320,171,400,117,480,128C560,139,640,213,720,229.3C800,245,880,203,960,176C1040,149,1120,139,1200,160C1280,181,1360,235,1400,261.3L1440,288L1440"></path>
              <text width="100%" fill="black" style="transform: translate3d(0px, 0px, 0px); font-size: 71px; font-weight: 600; display: flex; align-items: center;text-transform: uppercase;font-family: 'Avenir-Next-Condensed';">
                <textPath id="text-path" alignment-baseline="top" xlink:href="#curve" startOffset="10%" style="transform: translate3d(0px, 0px, 0px);" width="169.53066741237882%" fill="#2d2b26">"Alpac-Ahhhhh"</textPath>
              </text>
  </svg>
</div>
    </section>
</main>
<style>
  .view-more-products div { margin: 5px;  }
  .slvr-col-img-wrapper img { 
    width: 100%;
    border-radius:  40px;
    background-color: #F3F8FB;
  } 
 

  .row {
    display: flex; 
    flex-flow: row wrap; 
  }

  .col { 
    display: flex; 
    flex-flow: column; 
  }

  .card {
    display: flex;
    margin: 5px;
    align-items: stretch;
    flex-direction: column;
    height: 100%;
  }
  .color-preview-circle { height: 15px; width: 15px; display: inline-block; border-radius: 100%; margin:  10px 5px 10px 0; } 
  .col h3 {line-height: 1; } 
  @media only screen and (max-width: 588px) {
    .col { flex: 0 0 50% !important; }
  }
  @media only screen and (min-width: 1100px) {
    .col h3 {
      font-size: 1.5vw;
      text-transform: uppercase;
      width: 17vw;
    }
  }
  @media only screen and (min-width: 589px) and (max-width: 1099px) {
    .col h3 {
      font-size: 1.5vw;
      text-transform: uppercase;
      width: 17vw;
    }
  }
  @media only screen and (min-width: 450px) and (max-width: 588px) {
    .col h3 {
      font-size: 4.5vw;
      text-transform: uppercase;
    } 
  }
  @media only screen and (max-width: 449px) {
    .col h3 {
      font-size: 4.5vw;
      text-transform: uppercase;
    }    
    .atf-float h1 { font-size: 17pt; }

  }
    @media only screen and (min-width: 350px) and (max-width: 449px) {
/*        .slvr-col-img-wrapper { height: 200px; }
*/
  }
/*    @media only screen and (max-width: 349px) {
        .slvr-col-img-wrapper { height:200px; }

  }*/

  @media only screen and (min-width: 589px) and (max-width: 799px) {
    .col { flex: 0 0 33% !important; }

  }
  @media only screen and (min-width: 800px) {
    .col { flex: 0 0 33% !important; }
  }

  .card {
/*    box-shadow: 2px 2px 10px #F5F8F8;
*/    height: 100%;
  }
  .card:hover {
/*    box-shadow: rgb(0 0 0 / 8%) 0px 0px 4px 2px; 
*/  }
    @media only screen and (max-width: 588px) {
    .view-more-products { 
      width: 100%; 
      overflow: scroll; 
      white-space: nowrap;
      display: inline-block;
    }
    .view-more-products div {
      display: inline-block;
      margin-right: ;
      width: 200px;
      vertical-align: middle;
    }
  }
 

</style>
  <script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
// Insert Your Facebook Pixel ID below. 
fbq('init', '320927769125076');
fbq('track', 'PageView');

fbq('trackCustom', 'ViewCategory', {
  content_name: "{{collection.title}}",
  content_type: 'product'
});
</script>
