<main id="{{collection.title | handleize}}"> 
  <section class="collection-header double-accent-padding background-teal" id="{{collection.title | handleize}}-wrapper">
    <div>
      <h2 class="nmt tac ttu text-white">{{ collection.title }}</h2>        
    </div>
  </section>

  <svg xmlns="http://www.w3.org/2000/svg" class="updated-topper do"viewBox="0 100 1440 220"><path fill="white" fill-opacity="1" d="M0,224L40,224C80,224,160,224,240,197.3C320,171,400,117,480,128C560,139,640,213,720,229.3C800,245,880,203,960,176C1040,149,1120,139,1200,160C1280,181,1360,235,1400,261.3L1440,288L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z" ></path></svg>  
  <svg xmlns="http://www.w3.org/2000/svg" class="topper mo"viewBox="0 0 1440 320"><path fill="white" fill-opacity="1" d="M0,224L40,224C80,224,160,224,240,197.3C320,171,400,117,480,128C560,139,640,213,720,229.3C800,245,880,203,960,176C1040,149,1120,139,1200,160C1280,181,1360,235,1400,261.3L1440,288L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z" ></path></svg>  

  <section class="main-container">
  
     <div class="background-white flex-container aifs" >
      <div class="flex-container-no mo jes" style="padding: 5px;">
        <div class="background-natural one-third" style="padding: 10px; margin: 5px; border-radius: 10px;">
          <a href="/collections/all-socks">
          <p class="nm tac">Socks</p>
          </a>
        </div>
        <div class="background-natural one-third" style="padding: 10px; margin: 5px; border-radius: 10px;">
          <a href="/collections/throw-blankets"/>
          <p class="nm tac">Throws</p>
          </a>
        </div>
        <div class="background-natural one-third" style="padding: 10px; margin: 5px; border-radius: 10px;">
          <a href="/collections/scarves">
          <p class="nm tac">Scarves</p>
          </a>
        </div>
        <div class="background-natural one-third" style="padding: 10px; margin: 5px; border-radius: 10px;">
          <a href="/collections/shawls">
          <p class="nm tac">Shawls</p>
          </a>
        </div>
      </div>
      <div class="do double-accent-padding">
        <p class="tar mo">X</p>
        <h3 class="ttu detail-accent">Products</h3>
        <a href="/collections/all-socks"/><p class="nm">Socks</p></a>
        <a href="/collections/womens-sweaters"/><p class="nm">Sweaters</p></a>
        <a href="/collections/throw-blankets"><p class="nm">Throw Blankets</p></a>
        <a href="/collections/womens-scarves"><p class="nm">Scarves</p></a>
        <a href="/collections/shawls"><p class="nm">Shawls</p></a>
        <a href="/products/pacas-super-soft-hats?variant=39536118595684"><p class="nmt">Hats</p></a>
      </div>
     <p class="filter-msg" style="display: none; width: 100%; text-align: center; padding: 20vh 0 20vh 0">No products matching your selection were found.</p>
    
     <section class="background-white row double-padding-tbo" id="collection-layout-b" style="">
      
      {% assign products = collection.products  %}
      {% for product in products %}
      	{% assign numOfVariants = product.variants | size %}
        {% assign numOfColorOptions = product.options_by_name['size'].values | size %}
        {% assign sweaterVariantLimit =  numOfVariants | divided_by: numOfColorOptions %}
        {% assign variants = product.variants | slice: 0, sweaterVariantLimit %}
      	{% for variant in variants %}
     		{% if variant.available %}
              {%  assign currentVariant = variant.id %}
              <section class=" col {% for tag in product.tags %}{{tag | handleize}} {%endfor%} {{variant.metafields.arena.color}} {{variant.metafields.arena.color_2}} {{variant.metafields.arena.color_3}}" id="{{product.title | truncatewords: 1,''}}-1">
                <section class="card">
                  <div class="product-collection-wrapper">
                    <div class="accent-padding">
                      <div class="slvr-col-img-wrapper">

                        <div class="card-left" style="{% if variant.metafields.arena.additional_photo %}{% else %}display: none{% endif %}"><img class="arrow" src="{{ 'left-arrow.png' | asset_img_url: }}" /></div>

                          <a href="{{variant.url}}" onclick="ga('send', 'event', 'Collections Page', '{{collection.title | handleize}}', '{{product.title | handleize}}-{{variantCount}}');">
                            <img data-src="{{ variant.image | product_img_url: 'master' }}" alt="{{product.title}}" class="lazyload img-with-arrows"/>
                          </a>

                        <div class="card-right" style="{% if variant.metafields.arena.additional_photo %}{% else %}display: none{% endif %}"><img class="arrow" src="{{ 'right-arrow.png' | asset_img_url: }}" /></div> 

                      </div>
               {% for variant in variants  %}
                        {% if variant.available %}
                          {%  if variant.id == currentVariant %}

                      {% if variant.metafields.arena.additional_photo or variant.metafields.arena.additional_photo2 %}
                      	<div class="col-preview-bubble-wrapper tac {{ variant.id }}lifestyle-wrapper" id="" }>
                          <div class="col-preview-bubble clickable active" data-image-src="{{ variant.image | product_img_url: 'master' }}" ></div>
                           	{% if variant.metafields.arena.additional_photo %}
                              <div class="col-preview-bubble clickable" data-image-src="{{variant.metafields.arena.additional_photo}}" ></div>
                      		{% endif %}
                            {% if variant.metafields.arena.additional_photo2 %}
                           		<div class="col-preview-bubble clickable" data-image-src="{{variant.metafields.arena.additional_photo2}}" ></div>
							{% endif %}
                        	{% if variant.metafields.arena.additional_photo3 %}
                           		<div class="col-preview-bubble clickable" data-image-src="{{variant.metafields.arena.additional_photo3}}" ></div>
							{% endif %}
                        	{% if variant.metafields.arena.additional_photo4 %}
                           		<div class="col-preview-bubble clickable" data-image-src="{{variant.metafields.arena.additional_photo4}}" ></div>
							{% endif %}
                            {% if variant.metafields.arena.additional_photo5 %}
                           		<div class="col-preview-bubble clickable" data-image-src="{{variant.metafields.arena.additional_photo5}}" ></div>
							{% endif %}
                            {% if variant.metafields.arena.additional_photo6 %}
                           		<div class="col-preview-bubble clickable" data-image-src="{{variant.metafields.arena.additional_photo6}}" ></div>
							{% endif %}
                            {% if variant.metafields.arena.additional_photo7 %}
                           		<div class="col-preview-bubble clickable" data-image-src="{{variant.metafields.arena.additional_photo7}}" ></div>
							{% endif %}
                      	  </div>
                        
                      	{% endif %}
                            {%  else %}
                                 {% if variant.metafields.arena.additional_photo or variant.metafields.arena.additional_photo2 %}
                      	<div class="col-preview-bubble-wrapper tac {{ variant.id }}lifestyle-wrapper" style="display: none;" }>
                          <div class="col-preview-bubble clickable active" data-image-src="{{ variant.image | product_img_url: 'master' }}" ></div>
                           	{% if variant.metafields.arena.additional_photo %}
                              <div class="col-preview-bubble clickable" data-image-src="{{variant.metafields.arena.additional_photo}}" ></div>
                      		{% endif %}
                            {% if variant.metafields.arena.additional_photo2 %}
                           		<div class="col-preview-bubble clickable" data-image-src="{{variant.metafields.arena.additional_photo2}}" ></div>
							{% endif %}
                        	{% if variant.metafields.arena.additional_photo3 %}
                           		<div class="col-preview-bubble clickable" data-image-src="{{variant.metafields.arena.additional_photo3}}" ></div>
							{% endif %}
                        	{% if variant.metafields.arena.additional_photo4 %}
                           		<div class="col-preview-bubble clickable" data-image-src="{{variant.metafields.arena.additional_photo4}}" ></div>
							{% endif %}
                            {% if variant.metafields.arena.additional_photo5 %}
                           		<div class="col-preview-bubble clickable" data-image-src="{{variant.metafields.arena.additional_photo5}}" ></div>
							{% endif %}
                            {% if variant.metafields.arena.additional_photo6 %}
                           		<div class="col-preview-bubble clickable" data-image-src="{{variant.metafields.arena.additional_photo6}}" ></div>
							{% endif %}
                            {% if variant.metafields.arena.additional_photo7 %}
                           		<div class="col-preview-bubble clickable" data-image-src="{{variant.metafields.arena.additional_photo7}}" ></div>
							{% endif %}
                      	  </div>
                      	{% endif %}
                            {%  endif %}
                          {%  endif  %}
                 {%  endfor %}
                     
                          <a href="{{variant.url}}" onclick="ga('send', 'event', 'Collections Page', '{{collection.title | handleize}}', '{{product.title | handleize}}-{{variantCount}}');">
                            
                              <h3 class="nm"{% if variant.metafields.arena.additional_photo %}{% else %} style="margin-top: 30px" {% endif %}>{{product.title}}</h3>
                          </a>
                      <div class="acfe">
                      {% for variant in variants  %}
                        {% if variant.available %}
                          {%assign variantId = {{variant.id}} %}
                          <div data-image-src="{{ variant.image.src | product_img_url: 'master'  }}" class="clickable {{option | handleize}} color-preview-circle {% if variant.id == currentVariant %}active{% endif %}" style="background-image: url({{ variantId | append: '.png' | asset_url }});background-size: cover;" data-id="{{variantId}}"></div>
                        {% endif %}
                      {% endfor %}
                      </div>
                      <p class="nm text-dark-purple subscript">{{ product.price | money }} <span class="strikethrough text-dark-purple">{{product.compare_at_price | money}}</span></p>
                  </div>
                </div>
            </section>
          </section>
        {% endif %}
      {% endfor %}
    {% endfor%}
      
    <script>
      $('.color-preview-circle.clickable').click(function() {
        event.preventDefault(); 
        // removes margin from men's green crewneck sweater product title
        if($(this).siblings('.active').data('id') == 40686083407972) {
          $(this).parent().siblings('a').children('h3').css('margin', 0)
        }
        // hides and shows image arrows- depending on if the men's green crewneck is the active variant
        if($(this).data('id') == 40686083407972) {
          $(this).parent().siblings('.slvr-col-img-wrapper').children('.card-left').hide()
          $(this).parent().siblings('.slvr-col-img-wrapper').children('.card-right').hide()
        } else {
          $(this).parent().siblings('.slvr-col-img-wrapper').children('.card-left').show()
          $(this).parent().siblings('.slvr-col-img-wrapper').children('.card-right').show()
        }

        let currentId = $(this).siblings('.active').data("id").toString()
        $(this).addClass('active').siblings().removeClass('active')
        var imageDisplay = $(this).parent().siblings('.slvr-col-img-wrapper').children('a').children('img')
        var newImage = $(this).data("image-src")
        var newId =  $(this).data("id")

        // adjust product link to selected variant
        let selectedVariantURL = $(this).parent('.acfe').siblings('.slvr-col-img-wrapper').children('a').attr('href').replace(currentId, newId.toString())
        $(this).parent('.acfe').siblings('.slvr-col-img-wrapper').children('a').attr('href', selectedVariantURL)
        $(this).parent('.acfe').siblings('a').attr('href', selectedVariantURL)


        
        $(imageDisplay).attr("src", newImage); 
        // $(this).parent().siblings('.col-preview-bubble-wrapper:visible').hide();
        $(this).parent().siblings("." + newId + "lifestyle-wrapper").show().siblings('.col-preview-bubble-wrapper').hide();
        $(this).parent().siblings('.col-preview-bubble-wrapper:visible').find('.col-preview-bubble.active').removeClass('active')
        $(this).parent().siblings('.col-preview-bubble-wrapper:visible').find('.col-preview-bubble:first-of-type').addClass('active')
      }); 
      

      
         $(document).ready(function() {
                   var cards = $(".col:visible");
         for(var i = 0; i < cards.length; i++){
           var target = Math.floor(Math.random() * cards.length -1) + 1;
           var target2 = Math.floor(Math.random() * cards.length -1) +1;
           cards.eq(target).before(cards.eq(target2));
         }
      		$(".slvr-col-img-wrapper img").on("swipeleft",function() {
               if ($(this).parent().parent().siblings('.acfe').children('.active').data('id') !== 40686083407972 ) {
            var currentSelection = $(this).parent('a').parent(".slvr-col-img-wrapper").siblings('.col-preview-bubble-wrapper:visible').children('.active')
            var nextSelection = $(currentSelection).next()
            var newImage = $(nextSelection).data("image-src")
            if (nextSelection.length) {
              $(this).attr("src", newImage); 
              $(currentSelection).removeClass('active')
              $(nextSelection).addClass('active')
            } else {
             nextSelection = $(this).parent('a').parent(".slvr-col-img-wrapper").siblings('.col-preview-bubble-wrapper:visible').children('div').first()
             let firstImg = $(this).parent('a').parent(".slvr-col-img-wrapper").siblings('.col-preview-bubble-wrapper:visible').children('div').first().data("image-src")
             $(this).attr("src", firstImg)
            }
            $(currentSelection).removeClass('active')
            $(nextSelection).addClass('active')
               }
      		}); 

           $(".slvr-col-img-wrapper img").on("swiperight",function() {
              if ($(this).parent().parent().siblings('.acfe').children('.active').data('id') !== 40686083407972 ) {
            var currentSelection = $(this).parent('a').parent(".slvr-col-img-wrapper").siblings('.col-preview-bubble-wrapper:visible').children('.active')
            var nextSelection = $(currentSelection).prev()
            var newImage = $(nextSelection).data("image-src")
            if (nextSelection.length) {
              $(this).attr("src", newImage); 
              $(currentSelection).removeClass('active')
              $(nextSelection).addClass('active')
            } else {
             nextSelection = $(this).parent('a').parent(".slvr-col-img-wrapper").siblings('.col-preview-bubble-wrapper:visible').children('div').last()
             let firstImg = $(this).parent('a').parent(".slvr-col-img-wrapper").siblings('.col-preview-bubble-wrapper:visible').children('div').last().data("image-src")
             $(this).attr("src", firstImg)
            }
            $(currentSelection).removeClass('active')
            $(nextSelection).addClass('active')
              }
      		}); 
      	 }); 
        $(".card-left").click(function() {
            var currentSelection = $(this).parent(".slvr-col-img-wrapper").siblings('.col-preview-bubble-wrapper:visible').children('.active')
            var nextSelection = $(currentSelection).prev()
            var newImage = $(nextSelection).data("image-src")
            if (nextSelection.length) {
             $(this).parent('.slvr-col-img-wrapper').children('a').children('img').attr("src", newImage);
            } else {
             nextSelection = $(this).parent('.slvr-col-img-wrapper').siblings('.col-preview-bubble-wrapper:visible').children('div').last()
             let lastImg = $(this).parent('.slvr-col-img-wrapper').siblings('.col-preview-bubble-wrapper:visible').children('div').last().data("image-src")
             $(this).parent('.slvr-col-img-wrapper').children('a').children('img').attr("src", lastImg)
            }
              $(currentSelection).removeClass('active')
              $(nextSelection).addClass('active')
      	}); 
        $(".card-right").click(function() {         
            var currentSelection = $(this).parent('.slvr-col-img-wrapper').siblings('.col-preview-bubble-wrapper:visible').children('.active')
            var nextSelection = $(currentSelection).next()
            var newImage = $(nextSelection).data("image-src")
           if (nextSelection.length) {
             $(this).parent('.slvr-col-img-wrapper').children('a').children('img').attr("src", newImage);
            } else {
             nextSelection = $(this).parent('.slvr-col-img-wrapper').siblings('.col-preview-bubble-wrapper:visible').children('div').first()
             let firstImg = $(this).parent('.slvr-col-img-wrapper').siblings('.col-preview-bubble-wrapper:visible').children('div').first().data("image-src")
             $(this).parent('.slvr-col-img-wrapper').children('a').children('img').attr("src", firstImg)
            }
            $(currentSelection).removeClass('active')
            $(nextSelection).addClass('active')
      	}); 
      
       // hide non featured variant preview bubbles on page load
         $( document ).ready(function() {
          $('.col-preview-bubble-wrapper.notFeatured').hide();
        });

        $('.col-preview-bubble').click(function() {
          event.preventDefault(); 
          $(this).addClass('active').siblings().removeClass('active')
          var imageDisplay = $(this).parent().siblings('.slvr-col-img-wrapper').children('a').children('img')
          var newImage = $(this).data("image-src")
          $(imageDisplay).attr("src", newImage); 
        }); 
         
      </script>
  </section>
  
    <script>	
      var displayedProducts = ["3-1", "image-insert-1", "8-1", "4-1", "2-1 ", "12-1", "3-2", "6-2", "image-insert-2", "12-2", "2-2", "2-3", "4-2", "3-3", "6-3","image-insert-3", "8-2", "4-3", "12-3", "8-3", "image-insert-4"]

      $(displayedProducts).each(function(index, element){
        let cardPlacement = "#" + element 
          $('.row').append($(cardPlacement)); 
      })
    </script> 


{% if collection.title contains "Sweaters" %}
<script>
  // add article card 
  $(document).ready(function() {
      // adds article card to the fifth spot on the PLP
      let productAfterCard = $($('.col')[4])
      let articleCardContainer = document.createElement('div')
      productAfterCard.before(articleCardContainer)
      articleCardContainer.innerHTML += "<br/><a href='/collections/throw-blankets'  onClick=\"ga('send', 'event', 'Collection Page', 'Viewed Throws PLP', 'Throws Article Card');\" ><img src='https://cdn.shopify.com/s/files/1/0117/0597/4884/t/288/assets/Article-Card-Throws-800x1400.jpg?v=156291719053016157021670947511'/></a>"
      articleCardContainer.className = 'article-card-container accent-padding'
  })
</script>
{% endif %}

  </section>
 <section class="flex-container" id="photo-highlight-cta">
    <div class="half flex-container-no" id="winter-socks">
      <div class="double-accent-padding">
        <h3 class="text-natural ttu nm tac">New<br class="do"> Crew</br> Socks</h3>
        <a href="/collections/womens-crew">
          <div class="animated-button-red ma animated-button">
            <h2 class="text-natural ttu tac">Shop Now</h2>
          </div>
        </a>
      </div>
    </div>
    <div class="side-border"></div>
    <div class="half flex-container-no" id="find-your-match">
     <div class="double-accent-padding">
        <h3 class="text-natural ttu nm tac">New</br> Low Cuts</h3>
        <a href="/collections/womens-low-cut">
        <div class="animated-button-red animated-button ma">
          <h2 class="text-natural ttu tac">Shop Now</h2>
        </div>
        </a>
      </div>
    </div>
  </section>
  <section class="background-teal ofxh">
          <div class="fw flex-container index-product-preview-wrapper double-accent-padding" id="socks-quick">
        <div class="one-third index-product-preview">
        </div>
        <div class="one-third index-product-preview">
        </div>
        <div class="one-third index-product-preview">
        </div>
        <div class="one-third index-product-preview">
        </div>
      </div>
    <svg xmlns="http://www.w3.org/2000/svg" class="footer-topper"viewBox="0 100 1440 220"><path fill="white" fill-opacity="1" d="M0,224L40,224C80,224,160,224,240,197.3C320,171,400,117,480,128C560,139,640,213,720,229.3C800,245,880,203,960,176C1040,149,1120,139,1200,160C1280,181,1360,235,1400,261.3L1440,288L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z" ></path></svg>  
        <div class="background-white">
         <svg width="100%" height="15vw" viewBox="0 100 1098.72 89.55" style="margin-top: -7%;margin-left: 34vw;">
              <path id="curve" fill="transparent" d="M0,224L40,224C80,224,160,224,240,197.3C320,171,400,117,480,128C560,139,640,213,720,229.3C800,245,880,203,960,176C1040,149,1120,139,1200,160C1280,181,1360,235,1400,261.3L1440,288L1440"></path>
              <text width="100%" fill="black" style="transform: translate3d(0px, 0px, 0px); font-size: 71px; font-weight: 600; display: flex; align-items: center;text-transform: uppercase;font-family: 'Avenir-Next-Condensed';">
                <textPath id="text-path" alignment-baseline="top" xlink:href="#curve" startOffset="10%" style="transform: translate3d(0px, 0px, 0px);" width="169.53066741237882%" fill="#2d2b26">"Alpac-Ahhhhh"</textPath>
              </text>
  </svg>
</div>
    </section>
  </section>
</main>
<style>
    .active { border: 1px solid #666562; border-radius: 100%; }

.col-preview-bubble-wrapper { margin: 5px  0;}
    .slvr-col-img-wrapper  { 
    display: flex;
    flex-direction: column;
    justify-content: center ;
  }
    .card-right {
    position: absolute !important;
    cursor: pointer;
    align-self: end
  }
    .card-left {
    position: absolute !important;
    cursor: pointer;
    align-self: start;
  }
  .arrow {
    height: 6vh;
  }
  .view-more-products div { margin: 5px;  }
  .slvr-col-img-wrapper img { 
    width: 100%;
    border-radius:  40px;
  } 
  .row {
    display: flex; 
    flex-flow: row wrap; 
  }

  .col { 
    display: flex; 
    flex-flow: column; 
  }

  .card {
    display: flex;
    margin: 5px;
    align-items: stretch;
    flex-direction: column;
    height: 100%;
  }
  .color-preview-circle { height: 15px; width: 15px; display: inline-block; border-radius: 100%; margin:  10px 5px 10px 0; } 
  .col h3 {line-height: 1; } 
  @media only screen and (max-width: 588px) {
    .col { flex: 0 0 50% !important; }
  }
  @media only screen and (min-width: 1100px) {
    .col h3 {
      font-size: 1.5vw;
      text-transform: uppercase;
      width: 17vw;
    }
  }
  @media only screen and (min-width: 589px) and (max-width: 1099px) {
    .col h3 {
      font-size: 1.5vw;
      text-transform: uppercase;
      width: 17vw;
    }
  }
  @media only screen and (min-width: 450px) and (max-width: 588px) {
    .col h3 {
      font-size: 4.5vw;
      text-transform: uppercase;
    } 
  }
  @media only screen and (max-width: 449px) {
    .col h3 {
      font-size: 4.5vw;
      text-transform: uppercase;
    }    
    .atf-float h1 { font-size: 17pt; }

  }

  @media only screen and (min-width: 589px) and (max-width: 799px) {
    .col { flex: 0 0 33% !important; }
  }
  @media only screen and (min-width: 800px) {
    .col { flex: 0 0 33% !important; }
  }

    @media only screen and (max-width: 588px) {
    .view-more-products { 
      width: 100%; 
      overflow: scroll; 
      white-space: nowrap;
      display: inline-block;
    }
    .view-more-products div {
      display: inline-block;
      margin-right: ;
      width: 200px;
      vertical-align: middle;
    }
  }

  @media only screen and (max-width: 449px) { 
    .arrow {
      height: 5vh ;
      width: 8vw !important;
    }
}
  .border-bottom-purple {
    border-bottom:  1px solid #9093c8;
  }
    .card-left img:focus, .card-right img { 
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    }
  #collection-layout-a {
    display: none;
  }
  #collection-layout-b {
    display: flex;
  }
</style>

<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
// Insert Your Facebook Pixel ID below. 
fbq('init', '320927769125076');
fbq('track', 'PageView');

fbq('trackCustom', 'ViewCategory', {
  content_name: "{{collection.title}}",
  content_type: 'product'
});
</script>