<main id="index">

<!-- NEW -->


  {% comment %} DESKTOP STATIC {% endcomment %}
  <section class="do">
    <div class="homepage-atf-static jcc aic flex-container" style="align-items: end; background-size: 100%; height: 25vw">
      <div class="tac homepage-atf-cta-container" style="width: 50%">
        <h2 class="nm ttu text-white" style="visibility: hidden;">Alpaca Apparel</h2>
        <p class="nm text-white" style="padding: 5px 0 15px 0; visibility: hidden;">FREE OMBRE STRIPE, RIBBED BOUCLE, COLOR BLOCK OR MOSS KNIT SCARF (UP TO $95 VALUE) WITH ORDERS $120+ WITH CODE COZYSCARF</p>
<!--         <p class="nm text-white" style="padding: 5px 0 15px 0">Softer than cashmere, warmer than wool.</p> -->
            <div class="jcc flex-container" >
          <a href="/collections/womens-socks" onClick="ga('send', 'event', 'Homepage', 'Viewed Collection Page', 'Static Desktop CTA Womens Socks');">
            <div class="atf-link" style="margin-right: 15px; border-bottom: 2px solid white">
              <p class="ttu nm tac text-white">Shop Women</p>
            </div>
          </a>
          <a href="/collections/mens-socks" onClick="ga('send', 'event', 'Homepage', 'Viewed Collection Page', 'Static Desktop CTA Mens Socks');">
            <div class="atf-link" style="margin-left: 15px; border-bottom: 2px solid white">
              <p class="ttu nm tac text-white">Shop Men</p>
            </div>
          </a>
        </div>
        <a href="/pages/bundles">
           <div class="atf-link ma" style="padding-top: 2vw; border-bottom: 2px solid white; width: fit-content">
            <p class="ttu nm tac text-white">Shop Bundles</p>
          </div>
        </a>
      <div>


        
        <div>
        
    </div>
  </section>
      
  {%- comment -%} MOBILE ATF {%- endcomment -%}
  <section id="homepage-atf-mobile" class="accent-padding" style="padding-top 0; padding-bottom: 0;">
 
  {% comment %} MOBILE STATIC {% endcomment %}
  <div class="homepage-atf-mobile-static wfa jcc" style=" background-size: cover; height: 128vw; display: flex; margin-top: 10px; border-radius: 10px; background-position: center; align-items: end  ">
     <div class="fdc homepage-atf-cta-container" style="display: flex;">
        <div style="display: flex;" class="jcc">
        <a href="/collections/womens-socks" onClick="ga('send', 'event', 'Homepage', 'Viewed Collection Page', 'Static Mobile CTA Womens Socks');"><div style="border-bottom: 1px solid white; margin: 20px;"><p class="ttu nm tac text-white" style="font-family: Avenir-Next-Condensed; font-size: 12pt">Shop Women</p></div></a>
        <a href="/collections/mens-socks" onClick="ga('send', 'event', 'Homepage', 'Viewed Collection Page', 'Static Mobile CTA Womens Socks');"><div style="border-bottom: 1px solid white; margin: 20px;"><p class="ttu nm tac text-white" style="font-family: Avenir-Next-Condensed; font-size: 12pt">Shop Men</p></div></a>
      </div>
      <a href="/pages/bundles"><div style=" display: flex; margin: auto; width: fit-content; border-bottom: 1px solid white"><p class="ttu nm tac text-white" style="font-family: Avenir-Next-Condensed; font-size: 12pt">Shop Bundles</p></div></a>
    </div>
    </div>
   
  </section>

    {%- comment -%} FULL ASSORTMENT {%- endcomment -%}
  <section class="homepage-assortment" style="max-width: fit-content; margin: 0 5px; padding-top: 25px; padding-bottom: 0; ">
    <div id="homepage-full-assortment">
      <div class="arrow-container-atf flex-container-no" style="position: absolute; left: 15px;">
        <img class="left-arrow-atf clickable" src="{{ "left-arrow.png" | asset_url }}" loading="lazy" style="height: 75px; display: none" >
      </div>
      <div id="first-assortment-product" class="background-holiday-red assortment-product gendered" style="background-image: url({{ 'Assortment-WCrew.png' | asset_url }}); background-position: center">
        <h4 class="nm ttu" style="font-weight: 100;">Crew Socks</h4>
        <div>
          <a href="/collections/womens-crew" onClick="ga('send', 'event', 'Homepage', 'Viewed Collection Page', 'Assortment Womens Crew');" class="assortment-product-link" style="display: none; margin-bottom: 10px"><p class="nm tac">Shop Women's</p></a>
          <a href="/collections/mens-crew" onClick="ga('send', 'event', 'Homepage', 'Viewed Collection Page', 'Assortment Mens Crew');" class="assortment-product-link" style="display: none"><p class="nm tac">Shop Men's</p></a>
        </div>
      </div>
      <div class="background-holiday-red assortment-product gendered" style="background-image: url({{ 'fileName_dcd9900f-69bf-4083-b9f0-4b7d2563a002.png' | asset_url }}); background-position: center">
        <h4 class="nm ttu light-weight-assortment" style="font-weight: 100;">Light-Weight Crew Socks</h4>
        <div>
          <a href="/collections/womens-light-weight-crew" onClick="ga('send', 'event', 'Homepage', 'Viewed Collection Page', 'Assortment Womens LW Crew');" class="assortment-product-link" style="display: none; margin-bottom: 10px"><p class="nm tac">Shop Women's</p></a>
          <a href="/collections/mens-lightweight-crew" onClick="ga('send', 'event', 'Homepage', 'Viewed Collection Page', 'Assortment Mens LW Crew');" class="assortment-product-link" style="display: none"><p class="nm tac">Shop Men's</p></a>
        </div>
      </div>
      <div class="background-holiday-red assortment-product gendered" style="background-image: url({{ 'Assortment-LC.png' | asset_url }}); background-position: center" onClick="ga('send', 'event', 'Education', 'Viewed Collection Page', 'Low Cut Socks');">
        <h4 class="nm ttu" style="font-weight: 100;">Low Cut Socks</h4>
        <div>
          <a href="/collections/womens-low-cut" onClick="ga('send', 'event', 'Homepage', 'Viewed Collection Page', 'Assortment Womens Low Cut');" class="assortment-product-link" style="display: none; margin-bottom: 10px"><p class="nm tac">Shop Women's</p></a>
          <a href="/collections/mens-low-cut" onClick="ga('send', 'event', 'Homepage', 'Viewed Collection Page', 'Assortment Mens Low Cut');" class="assortment-product-link" style="display: none"><p class="nm tac">Shop Men's</p></a>
        </div>
      </div>
      <div class="background-holiday-red assortment-product" style="background-image: url({{ 'Assortment-No-Show.png' | asset_url }}); background-position: center;" onClick="ga('send', 'event', 'Education', 'Viewed Collection Page', 'No Show Socks');">
        <h4 class="nm ttu" style="font-weight: 100;">No Show Socks</h4>
        <div>
          <a href="/collections/womens-no-show" onClick="ga('send', 'event', 'Homepage', 'Viewed Collection Page', 'Assortment No Show');" class="assortment-product-link" style="display: none; margin-bottom: 10px"><p class="nm tac">Shop Women's</p></a>
        </div>
      </div>
      <div class="background-holiday-red assortment-product gendered" style="background-image: url({{ 'Assortment-WSweaters.png' | asset_url }}); background-position: center;" onClick="ga('send', 'event', 'Education', 'Viewed Collection Page', 'Sweaters');">
        <h4 class="nm gendered-category ttu" style="font-weight: 100;">Sweaters</h4>
        <div>
          <a href="/collections/womens-sweaters" onClick="ga('send', 'event', 'Homepage', 'Viewed Collection Page', 'Assortment Womens Sweaters');" class="assortment-product-link" style="display: none; margin-bottom: 10px"><p class="nm tac">Shop Women's</p></a>
          <a href="/collections/mens-sweaters" onClick="ga('send', 'event', 'Homepage', 'Viewed Collection Page', 'Assortment Mens Sweaters');" class="assortment-product-link" style="display: none"><p class="nm tac">Shop Men's</p></a>
        </div>
      </div>
      <div class="background-holiday-red assortment-product" style="background-image: url({{ 'Assortment-Throws.png' | asset_url }}); background-position: bottom;" onClick="ga('send', 'event', 'Education', 'Viewed Collection Page', 'Throw Blankets');">
        <h4 class="nm ttu" style="font-weight: 100;">Throw Blankets</h4>
        <div>
          <a href="/collections/throw-blankets" onClick="ga('send', 'event', 'Homepage', 'Viewed Collection Page', 'Assortment Throw Blankets');" class="assortment-product-link" style="display: none; margin-bottom: 10px"><p class="nm tac">Shop All</p></a>
        </div>
      </div>
      <div class="background-holiday-red assortment-product gendered" style="background-image: url({{ 'Assortment-WScarves.png' | asset_url }}); background-position: center;" onClick="ga('send', 'event', 'Education', 'Viewed Collection Page', 'Scarves');">
        <h4 class="nm gendered-category ttu" style="font-weight: 100;">Scarves</h4>
        <div>
          <a href="/collections/womens-scarves" onClick="ga('send', 'event', 'Homepage', 'Viewed Collection Page', 'Assortment Womens Scarves');" class="assortment-product-link" style="display: none; margin-bottom: 10px"><p class="nm tac">Shop Women's</p></a>
          <a href="/collections/mens-scarves" onClick="ga('send', 'event', 'Homepage', 'Viewed Collection Page', 'Assortment Mens Scarves');" class="assortment-product-link" style="display: none"><p class="nm tac">Shop Men's</p></a>
        </div>
      </div>
      <div class="background-holiday-red assortment-product" style="background-image: url({{ 'Shawl-800x800.png' | asset_url }}); background-position: center;" onClick="ga('send', 'event', 'Education', 'Viewed Collection Page', 'Shawls');">
        <h4 class="nm ttu" style="font-weight: 100;">Shawls</h4>
        <div>
          <a href="/collections/shawls" onClick="ga('send', 'event', 'Homepage', 'Viewed Collection Page', 'Assortment Shawls');" class="assortment-product-link" style="display: none; margin-bottom: 10px"><p class="nm tac">Shop All</p></a>
        </div>
      </div>
      <div class="background-holiday-red assortment-product gendered" style="background-image: url({{ 'Assortment-compression.png' | asset_url }}); background-position: bottom;" onClick="ga('send', 'event', 'Education', 'Viewed Collection Page', 'Compression Socks');">
        <h4 class="nm ttu" style="font-weight: 100;">Compression Socks</h4>
        <div>
          <a href="/collections/womens-compression" onClick="ga('send', 'event', 'Homepage', 'Viewed Collection Page', 'Assortment Womens Compression');" class="assortment-product-link" style="display: none; margin-bottom: 10px"><p class="nm tac">Shop Women's</p></a>
          <a href="/collections/mens-compression" onClick="ga('send', 'event', 'Homepage', 'Viewed Collection Page', 'Assortment Mens Compression');" class="assortment-product-link" style="display: none"><p class="nm tac">Shop Men's</p></a>
        </div>
      </div>
      <div id="last-assortment-product" class="background-holiday-red assortment-product gendered" style="background-image: url({{ 'fileName_ebfdb9ef-4e32-4cca-b43a-8d80dcc2819b.png' | asset_url }}); background-position: bottom;" onClick="ga('send', 'event', 'Education', 'Viewed Collection Page', 'Compression Socks');">
        <h4 class="nm ttu" style="font-weight: 100;">Slouchy Socks</h4>
        <div>
          <a href="/collections/womens-slouchy-socks" onClick="ga('send', 'event', 'Homepage', 'Viewed Collection Page', 'Assortment Womens Slouchy');" class="assortment-product-link" style="display: none; margin-bottom: 10px"><p class="nm tac">Shop All</p></a>
        </div>
      </div>
      <div class="arrow-container-atf flex-container-no" style="position: absolute; right: 15px;">
        <img class="right-arrow-atf clickable" src="{{ "right-arrow.png" | asset_url }}" loading="lazy" style="height: 75px" >
      </div>
  </section>

  <script>
    // show links to men's and women's when a user hovers on a product category
    $('.assortment-product').on("mouseover click",function() {
        $(this).css('background-color', 'rgb(162,9,14,.7)')
        $(this).children('div').children('.assortment-product-link').show()
    })
    $('.assortment-product').on("mouseleave click", function() {
      $(this).css('background-color', 'rgb(162,9,14,1)')
      $(this).children('div').children('.assortment-product-link').hide()
    })
    // scroll to show more products on arrow click
    let lastAssortmentProduct = document.getElementById('last-assortment-product')
    let firstAssortmentProduct = document.getElementById('first-assortment-product')
    $('.right-arrow-atf').click(function() {
      lastAssortmentProduct.scrollIntoView({behavior: "smooth", block: "nearest"})
      $('.left-arrow-atf').show()
      $(this).removeClass('clickable').css('opacity', '50%')
    })
    $('.left-arrow-atf').click(function() {
      firstAssortmentProduct.scrollIntoView({behavior: "smooth", block: "nearest"})
      $(this).hide()
      $('.right-arrow-atf').addClass('clickable').css('opacity', '100%')
    })
  </script>


<style>
  /* HOMEPAGE ATF */
  .assortment-product-link > p {
    background-color: #f7f5f2;
    padding: 5px;
    border-radius: 5px;
  }
.homepage-atf-mobile-scroll, #homepage-full-assortment {
  display: flex;
  overflow: scroll;
  white-space: nowrap;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.homepage-atf-mobile-scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
#homepage-full-assortment::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.homepage-atf-mobile-scroll > div { 
  background-size: contain;
  border-radius: 10px;
  margin: 10px;
  white-space: normal;
  max-height: 500px;
}
.assortment-product {
  margin: 5px;
  border-radius: 10px;
  white-space: normal;
  max-width: 150px;
  max-height: 150px;
  background-repeat: no-repeat;
  display: flex;
  background-size: 150px;
  padding: 7px 7px 7px 9px;
  flex-direction: column;
}
.assortment-product > div {
  height: 80%;
  display: flex;
  flex-direction: column;
  place-content: center;
}
.assortment-product > h4  { color: white; }
.assortment-product-link { width: 100% }
.arrow-container-atf { max-height: 250px }
@media only screen and (min-width: 800px) {
  #homepage-atf-mobile > div > div { width: 70%; }
  #homepage-atf > div > div > a > p { font-size: .9em; }
  .assortment-product > h4  { font-size: 1vw; }
  .assortment-product > div > a > p  { font-size: .8em; }
  #homepage-atf-mobile { display: none }
  #homepage-atf-desktop { display: block }
}
@media only screen and (max-width: 799px) {
  #homepage-atf-mobile { padding: 15px; }
  .homepage-atf-mobile-scroll > div > div { min-width: 250px }
  #homepage-atf-desktop { display: none }
  #homepage-atf-mobile { display: flex }
  .arrow-container, .right-arrow-atf { display: none !important }
  .assortment-product { padding: 5px; }
  .assortment-product > h4  { font-size: .9rem;; }
  .light-weight-assortment { font-size: .8rem !important }
}
@media only screen and (max-width: 1079px) {
  #homepage-atf-mobile > div {
    height: 400px;
    min-width: 300px;
  }
  .assortment-product {
    height: 150px;
    min-width: 150px;
    background-size: 120px;
  }
  .arrow-container-atf { min-height: 150px }
}
@media only screen and (min-width: 1080px) {
  .assortment-product {
    min-width: 15vw;
    min-height: 15vw;
    background-size: 150px;
  }
  .arrow-container-atf { min-height: 15vw }
}
@media only screen and (min-width: 1280px) {
  .assortment-product { background-size: 12vw; }
}
@media only screen and (min-width: 1600px) {
  #homepage-atf-mobile > div > h3 {
    font-size: 2.2rem;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1310px) {
  #homepage-atf-mobile > div > div {
    min-height: 60px;
  }
} 
.col-preview-bubble.active { background-color: white; }
.col-preview-bubble { 
  border: 1px solid white;
  z-index: 10;
}
.homepage-atf-editorial.mobile {
  min-height: 200px;
  display: grid;
  justify-content: center;
}
.homepage-atf-editorial.mobile > div { align-self: end }
a { 
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

</style>




          
<!-- UNCHANGED CONTENT     -->
<section class="double-accent-padding background-natural tac" id="product-review-wrapper">
  <h1 class="detail-accent ttu tac nm" id="index-review-header">Unbelievably Soft.</h1>
  <p class="tac">(but don't just take our word for it...)</p>
  {% include 'reviews' %}
  <iframe src="https://pacas-reviews.herokuapp.com/welcome/show" title="Review Slider" id="iFrame1" style="border: none; width: 100%;"></iframe>
</section>
<section class="background-white">
  <section class="background-white accent-padding-so flex-container aifs mobile-benefits-section">
    <div class="one-third accent-padding" id="mobile-benefits-wrapper">
      <div class="accent-padding  mobile-benefits">
        <h3 class="ttu accent-crown nm">Hypoallergenic</h3>
        <p style="min-height: 53px;">doesn't contain lanolin, which is a natural oil that causes allergies</p>
      </div>
      <div class="accent-padding  mobile-benefits">
        <h3 class="ttu accent-crown nm">Thermoregulating</h3>
        <p style="min-height: 53px;">alpaca fiber has a hollow core, which insulates heat in the winter and helps keep it cool in the summer</p>
      </div>
      <div class="accent-padding mo  mobile-benefits">
        <h3 class="ttu accent-crown nm">Moisture Wicking</h3>
        <p style="min-height: 53px;">doesn't absorb ba-a-a-ad moisture, unlike wool</p>
      </div>
      <div class="accent-padding mo  mobile-benefits">
        <h3 class="ttu accent-crown nm">Warmer Than Wool</h3>
        <p style="min-height: 53px;">5x warmer than wool. Take that, sheeple!</p>
      </div>
    </div>
    <script>
      if ($(window).width() < 800) {
        setInterval(function(){ 
          if ($('.mobile-benefits:last-of-type').is(":visible")) {
            $('.mobile-benefits:visible').hide()
            $('.mobile-benefits:first-of-type').show();
            $('.selection-circle.background-dark-teal').removeClass('background-dark-teal')
            $('.selection-circle:first-of-type').addClass('background-dark-teal')
          }
          else {
            $('.mobile-benefits:visible').hide().next().show();
            $('.selection-circle.background-dark-teal').removeClass('background-dark-teal').next().addClass("background-dark-teal")
          }
        }, 3000);
      }
    </script>
    <div class="mo tac" style="margin-top: -20px; margin-bottom: 50px;">
      <div class="selection-circle background-dark-teal"></div>
      <div class="selection-circle"></div>
      <div class="selection-circle"></div>
      <div class="selection-circle"></div>
    </div>
    <div class="one-third tac asfe">
      <img src="{{'rebrand-paca.png' | asset_url}}" alt="Alpaca" id="alpaca-break">
    </div>
    <div class="one-third accent-padding">
      <div class="accent-padding do">
        <h3 class="ttu accent-crown nm">Moisture Wicking</h3>
        <p>doesn't absorb ba-a-a-ad moisture, unlike wool</p>
      </div>
      <div class="accent-padding do">
        <h3 class="ttu accent-crown nm">Warmer Than Wool</h3>
        <p>5x warmer than wool. Take that, sheeple!</p>
      </div>
    </div>
  </section>
  <svg xmlns="http://www.w3.org/2000/svg" class="updated-topper"viewBox="0 100 1440 220"><path fill="#a0dbe3" fill-opacity="1" d="M0,224L40,224C80,224,160,224,240,197.3C320,171,400,117,480,128C560,139,640,213,720,229.3C800,245,880,203,960,176C1040,149,1120,139,1200,160C1280,181,1360,235,1400,261.3L1440,288L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z" ></path></svg>  
  <section id="index-reviews" class="background-light-teal  accent-padding">
    <section id="our-faves" class="flex-container accent-padding">
      <div class="one-third tac accent-padding" id="our-faves-text">
        <h2 class="ttu nm">Our Faves.</h2>
        <p>Our clothing will make your older clothes wish they were friends with an alpaca or two. The best part? We give back to our alpacas and their farmers, so they can have a truly sustainable future. It doesn't get any cozier!</p>
        <a href="/collections/all-socks">
          <div class="standard-button animated-button background-red ma do">
            <h2 class="text-natural ttu tac">Shop Now</h2>
          </div>
        </a>
      </div>
      <div class="two-thirds accent-padding">
        <div class="flex-container-no jcsa fw">
          <div class="accent-padding tac"><h4 class="ttu">Throws</h4></div>
          <div class="accent-padding tac"><h4 class="ttu  actives">Socks</h4></div>
          <div class="accent-padding tac"><h4 class="ttu">Sweaters</h4></div>
        </div>
        <div class="fw flex-container index-product-preview-wrapper" id="socks-quick">
          <div class="one-third index-product-preview">
          </div>
          <div class="one-third index-product-preview">
          </div>
          <div class="one-third index-product-preview">
          </div>
          <div class="one-third index-product-preview" style="display: none;">
          </div>
        </div>
        <div class="fw flex-container index-product-preview-wrapper" id="throws-quick" style="display: none;">
          <div class="one-third index-product-preview">
          </div>
          <div class="one-third index-product-preview">
          </div>
          <div class="one-third index-product-preview background-red text-natural accent-padding prev-product-form">
            <h4 class="ttu text-natural nm">Pacas Throw <br>Blankets</h5>
            <h2 class="text-dark-red nm">$150.00</h2>
            <div class="border-natural" style="padding: 10px;"><a href="/collections/throw-blankets"><h4 class="tac ttu nm fw text-natural">View Product</h4></a></div>
          </div>
        </div>
        <div class="fw flex-container index-product-preview-wrapper" id="sweaters-quick" style="display: none;">
          <a href="/collections/womens-sweaters" class="one-third index-product-preview"><div></div></a>
          <a href="/collections/womens-sweaters" class="one-third index-product-preview"><div></div></a>
          <a href="/collections/womens-sweaters" class="one-third index-product-preview"><div></div></a>
          </div>
        </div>
      </div>
    </section>

  </section>
</section>
<section class="flex-container" id="photo-highlight-cta">
  <div class="half flex-container-no" id="winter-socks">
    <div class="double-accent-padding">
      <h3 class="text-natural ttu nm tac">New<br class="do"> Crew</br> Socks</h3>
    <a href="/collections/womens-crew">
      <div class="animated-button-red ma animated-button">
        <h2 class="text-natural ttu tac">Shop Now</h2>
      </div>
    </a>
  </div>
  </div>
<div class="side-border"></div>
<div class="half flex-container-no" id="find-your-match">
  <div class="double-accent-padding">
    <h3 class="text-natural ttu nm tac">New</br> Low Cuts</h3>
  <a href="/collections/womens-low-cut">
    <div class="animated-button-red animated-button ma">
      <h2 class="text-natural ttu tac">Show Now</h2>
    </div>
  </a>
</div>
</div>
</section>
<section class="flex-container" id="final-cta">
  <div class="background-teal one-third flex-container-no fdc">
    <a href="/collections/men">
      <h1 class="tac text-dark-teal ttu nmb">Men</h1>
    </a>
    <svg xmlns="http://www.w3.org/2000/svg" class=""viewBox="0 55 480 220"><path fill="#f04e4c" fill-opacity="1" d="M0,160L14.1,138.7C28.2,117,56,75,85,74.7C112.9,75,141,117,169,144C197.6,171,226,181,254,165.3C282.4,149,311,107,339,80C367.1,53,395,43,424,74.7C451.8,107,480,181,508,181.3C536.5,181,565,107,593,90.7C621.2,75,649,117,678,122.7C705.9,128,734,96,762,117.3C790.6,139,819,213,847,213.3C875.3,213,904,139,932,144C960,149,988,235,1016,234.7C1044.7,235,1073,149,1101,138.7C1129.4,128,1158,192,1186,197.3C1214.1,203,1242,149,1271,138.7C1298.8,128,1327,160,1355,181.3C1383.5,203,1412,213,1426,218.7L1440,224L1440,320L1425.9,320C1411.8,320,1384,320,1355,320C1327.1,320,1299,320,1271,320C1242.4,320,1214,320,1186,320C1157.6,320,1129,320,1101,320C1072.9,320,1045,320,1016,320C988.2,320,960,320,932,320C903.5,320,875,320,847,320C818.8,320,791,320,762,320C734.1,320,706,320,678,320C649.4,320,621,320,593,320C564.7,320,536,320,508,320C480,320,452,320,424,320C395.3,320,367,320,339,320C310.6,320,282,320,254,320C225.9,320,198,320,169,320C141.2,320,113,320,85,320C56.5,320,28,320,14,320L0,320Z" ></path></svg>  

    <div class="background-red fw">

      <a href="/collections/men">
        <h3 class="tac text-natural ttu">Shop Now</h3>
      </a>
    </div>
  </div>
  <div class="background-purple one-third flex-container-no fdc" id="cta-shopwomen">
    <a href="/collections/women">
      <h1 class="tac text-dark-purple ttu nmb">Women</h1>
    </a>
    <svg xmlns="http://www.w3.org/2000/svg" class=""viewBox="480 55 480 220"><path fill="#66cad8" fill-opacity="1" d="M0,160L14.1,138.7C28.2,117,56,75,85,74.7C112.9,75,141,117,169,144C197.6,171,226,181,254,165.3C282.4,149,311,107,339,80C367.1,53,395,43,424,74.7C451.8,107,480,181,508,181.3C536.5,181,565,107,593,90.7C621.2,75,649,117,678,122.7C705.9,128,734,96,762,117.3C790.6,139,819,213,847,213.3C875.3,213,904,139,932,144C960,149,988,235,1016,234.7C1044.7,235,1073,149,1101,138.7C1129.4,128,1158,192,1186,197.3C1214.1,203,1242,149,1271,138.7C1298.8,128,1327,160,1355,181.3C1383.5,203,1412,213,1426,218.7L1440,224L1440,320L1425.9,320C1411.8,320,1384,320,1355,320C1327.1,320,1299,320,1271,320C1242.4,320,1214,320,1186,320C1157.6,320,1129,320,1101,320C1072.9,320,1045,320,1016,320C988.2,320,960,320,932,320C903.5,320,875,320,847,320C818.8,320,791,320,762,320C734.1,320,706,320,678,320C649.4,320,621,320,593,320C564.7,320,536,320,508,320C480,320,452,320,424,320C395.3,320,367,320,339,320C310.6,320,282,320,254,320C225.9,320,198,320,169,320C141.2,320,113,320,85,320C56.5,320,28,320,14,320L0,320Z" ></path></svg>  

    <div class="background-teal fw">
      <a href="/collections/women">
        <h3 class="tac text-natural ttu">Shop Now</h3>
      </a>
    </div>
  </div>
  <div class="background-red one-third flex-container-no fdc">
    <a href="/collections/kids">
      <h1 class="tac text-dark-red ttu nmb">Kiddies</h1>
    </a>
    <svg xmlns="http://www.w3.org/2000/svg" class=""viewBox="960 55 480 220"><path fill="#9093c8" fill-opacity="1" d="M0,160L14.1,138.7C28.2,117,56,75,85,74.7C112.9,75,141,117,169,144C197.6,171,226,181,254,165.3C282.4,149,311,107,339,80C367.1,53,395,43,424,74.7C451.8,107,480,181,508,181.3C536.5,181,565,107,593,90.7C621.2,75,649,117,678,122.7C705.9,128,734,96,762,117.3C790.6,139,819,213,847,213.3C875.3,213,904,139,932,144C960,149,988,235,1016,234.7C1044.7,235,1073,149,1101,138.7C1129.4,128,1158,192,1186,197.3C1214.1,203,1242,149,1271,138.7C1298.8,128,1327,160,1355,181.3C1383.5,203,1412,213,1426,218.7L1440,224L1440,320L1425.9,320C1411.8,320,1384,320,1355,320C1327.1,320,1299,320,1271,320C1242.4,320,1214,320,1186,320C1157.6,320,1129,320,1101,320C1072.9,320,1045,320,1016,320C988.2,320,960,320,932,320C903.5,320,875,320,847,320C818.8,320,791,320,762,320C734.1,320,706,320,678,320C649.4,320,621,320,593,320C564.7,320,536,320,508,320C480,320,452,320,424,320C395.3,320,367,320,339,320C310.6,320,282,320,254,320C225.9,320,198,320,169,320C141.2,320,113,320,85,320C56.5,320,28,320,14,320L0,320Z" ></path></svg>  

    <div class="background-purple fw">
      <a href="/collections/kids">
        <h3 class="tac text-natural ttu">Shop Now</h3>
      </a>
    </div>
  </div>
</section>

<script>
  $('#our-faves .jcsa h4').click(function() {
    $(this).addClass('actives').parents().siblings().children().removeClass('actives');
    let currentSelection = $(this).text().toLowerCase();
    let currentDisplay = "#" + currentSelection + "-quick"
    $('.index-product-preview-wrapper').hide();
    $(currentDisplay).show(); 
  })
</script>

<script>on_index=true;</script>

<script>
  $("#iFrame1").on("load", function () {
    $('#iFrame1').iFrameResize( [{
      checkOrigin:false,
      log:true,
      minHeight:15000,
      heightCalculationMethod:'lowestElement'
    }] );
  });
</script>

<!-- Do Not Remove - Turn Tracking Beacon Code - Do Not Remove --> <!-- Advertiser Name : PACAS --> <!-- Beacon Name : PACAS-GROWTH PLAN-FALL 2021-HP --> <!-- If Beacon is placed on a Transaction or Lead Generation based page, please populate the turn_client_track_id with your order/confirmation ID -->
<script type="text/javascript"> turn_client_track_id = ""; </script> <script type="text/javascript" src="https://r.turn.com/server/beacon_call.js?b2=87D7k2ltAJCqu-539QbGDdNDxwEfaMWFjrw2QeDhnhbEFrIWTIJNGNkEc0znUj0FEGBWtEqqFCGEj9i4J0e0bA"> </script> 
<noscript> <img border="0" src="https://r.turn.com/r/beacon?b2=87D7k2ltAJCqu-539QbGDdNDxwEfaMWFjrw2QeDhnhbEFrIWTIJNGNkEc0znUj0FEGBWtEqqFCGEj9i4J0e0bA&cid="> 
</noscript> 
<!-- End Turn Tracking Beacon Code Do Not Remove -->

<style>
  main { margin-bottom: -20px; width:  100vw; overflow-x: hidden;}

  @media only screen and (max-width: 799px) {
    #index .page-header h1 {
      font-size : 12vw !important;
      line-height : 12vw !important;
    }
  }
  @media only screen and (min-width: 800px) {
    #index .page-header h1 {
      font-size : 7vw !important;
      line-height : 7vw !important;
    }

    .atf-text-accent { 
      padding-left: 5.5vw; 
      padding-top: 6vw; 
      align-items: flex-start; 
    }
  }

  #mobile-button-wrapper { 
    width: 300px;
    margin: 0 auto;
  }
  @media only screen and (min-width: 800px) and (max-width: 1000px) {
    .standard-button h2 { padding: 15px !important; }
  }
  #alpac-ah-learn-more-mo  {
    position: absolute;
    right: 20px;
    margin-top: -77px;
  }

</style>