{% layout 'theme.wholesale' %} 


<main id="wholesale-index">
  <section class="page-header flex-container ofh" id="">
    <div class='half'> 
      <div class="atf-text-accent background-dark-purple flex-container-no accent-padding" style="box-sizing: border-box;">
        <div>
          <h1 class="ttu nm text-natural" style="line-height:1;">Softness with<br> a Soul.</h1>
          <p class="text-natural">Socks and apparel made from alpaca wool. They're so comfy, you'll never want to wear your other clothes again. Why do you think our alpacas don't wear anything else?</p>
                         <a href="/pages/wholesale-collections?ls=GB9ORkigS_yKGfxUMGul5g">     
  
          <div class="animated-button-red animated-button ib">
              <h2 class="text-natural ttu tac">  
Order Now</h2>
            </div>
          </a>
        </div>
      </div>
    </div> 
    <div class="half" id="alpaca-atf">
            <img src="{{'rebrand-crown.png' | asset_url}}" id="rebrand-crown"/>
    </div>
  </section>

      <section class="double-accent-padding background-natural tac" id="product-review-wrapper">
        <h1 class="detail-accent ttu tac nm">Unbelievably Soft.</h1>
        <p class="tac">(but don't just take our word for it...)</p>
        <img src="{{'rebrand-stars.png' | asset_url}}" class="review-stars" />
            <iframe src="https://pacas-reviews.herokuapp.com/welcome/show" id="iFrame1" style="border: none; width: 100%;"></iframe>
</section>
        <script>
 $("#iFrame1").on("load", function () {
  $('#iFrame1').iFrameResize( [{
    checkOrigin:false,
    log:true,
    minHeight:15000,
    heightCalculationMethod:'lowestElement'
  }] );
});
</script>
  <section class="background-white">
    <section class="background-white accent-padding-so flex-container aifs">
      <div class="one-third accent-padding" id="mobile-benefits-wrapper">
        <div class="accent-padding  mobile-benefits">
          <h3 class="ttu accent-crown nm">Hypoallergenic</h3>
          <p>doesn't contain lanolin, which is a natural oil that causes allergies</p>
        </div>
        <div class="accent-padding  mobile-benefits">
          <h3 class="ttu accent-crown nm">Thermoregulating</h3>
          <p>alpaca fiber has a hollow core, which insulates heat in the winter and helps keep it cool in the summer</p>
        </div>
      <div class="accent-padding mo  mobile-benefits">
          <h3 class="ttu accent-crown nm">Moisture Wicking</h3>
          <p>doesn't absorb ba-a-a-ad moisture, unlike wool</p>
      </div>
      <div class="accent-padding mo  mobile-benefits">
          <h3 class="ttu accent-crown nm">Warmer Than Wool</h3>
          <p>5x warmer than wool. Take that, sheeple!</p>
      </div>
      </div>
      <script>
        if ($(window).width() < 800) {
          setInterval(function(){ 
            if ($('.mobile-benefits:last-of-type').is(":visible")) {
               $('.mobile-benefits:visible').hide()
               $('.mobile-benefits:first-of-type').show();
                $('.selection-circle.background-dark-teal').removeClass('background-dark-teal')
                $('.selection-circle:first-of-type').addClass('background-dark-teal')
            }
            else {
            $('.mobile-benefits:visible').hide().next().show();
            $('.selection-circle.background-dark-teal').removeClass('background-dark-teal').next().addClass("background-dark-teal")
            }
          }, 3000);
      }
      </script>
      <div class="mo tac" style="margin-top: -20px; margin-bottom: 50px;">
        <div class="selection-circle background-dark-teal"></div>
        <div class="selection-circle"></div>
        <div class="selection-circle"></div>
        <div class="selection-circle"></div>
      </div>
      <div class="one-third tac asfe">
        <img src="{{'rebrand-paca.png' | asset_url}}" id="alpaca-break">
      </div>
      <div class="one-third accent-padding do">
        <div class="accent-padding do">
          <h3 class="ttu accent-crown nm">Moisture Wicking</h3>
          <p>doesn't absorb ba-a-a-ad moisture, unlike wool</p>
        </div>
        <div class="accent-padding do">
          <h3 class="ttu accent-crown nm">Warmer Than Wool</h3>
          <p>5x warmer than wool. Take that, sheeple!</p>
        </div>
      </div>
    </section>
     <section class="flex-container page-header background-natural">
    <div class="half tal double-accent-padding flex-container-no">
      <div>
        <h2 class="ttu xl nm">Considerate To All - Even Their Food</h2>
        <p>Like their fellow grazers, alpacas eat grass and plants that grow natural in their habitat. The key difference is alpacas only eat the tops of grass strands, which helps keep their coats so soft and means their food source needs less replenishing than that of goats, sheep, or cow</p>
        <h3 class="text-teal ttu">Are Alpacas Really That Green?</h3>
      </div>
    </div>
    <div class="half flex-container-no jcc" id="about-alpaca-green">
      <div class="text-bubble accent-padding background-natural tac accent-padding flex-container-no">
        <div>
          <h3 class="ttu text-teal nm">Yes</h3>
          <p class="subscript">Alpacas are highly efficient requiring much less food intake then cashmere goats or sheep.</p>
        </div>
      </div>
    </div>
  </section>
 <section class="background-white ">
    <section class="flex-container accent-padding">
      <div class="half double-accent-padding">
        <h2 class="ttu">Not Cashmere, <br>Still G.O.A.T.</h2>
      </div>
      <div class="half double-accent-padding" id="goat-description">
        <p>Cashmere likes to consider itself the belle of the fashion ball, but did you know alpaca fleece is as soft as cashmere? The micron count in alpaca fiber is similar to that in cashmere, hence the shared softness between the two!</p>
      </div>
    </section>
    <img src="{{'softness-scale-half.png' | asset_url}}" class="mo" id="mobile-softness-scale" />
    <section class="flex-container-no jcsa do" id="softness-scale">
      <h3 class="ttu text-teal" id="coarse">Coarse</h3>
      <div class="flex-container" id="scale">
        <div>
          <div class="background-light-teal flex-container accent-padding jcse">
            <div class="texture-bubble" id="polyester">
              <p>polyester</p>
            </div>
            <div class="texture-bubble" id="nylon">
              <p>nylon</p>
            </div>
          </div>
        </div>
        <div class="background-teal flex-container jcse accent-padding">
          <div class="texture-bubble" id="cotton">
            <p>cotton</p>
          </div>
          <div class="texture-bubble" id="wool">
            <p>wool</p>
          </div>
          <div class="texture-bubble" id="cashmere">
            <p>cashmere</p>
          </div>
        </div>
        <div class="background-dark-teal flex-container jcse accent-padding">
          <div class="texture-bubble" id="alpaca-fleece">
            <p>alpaca</p>
          </div>
        </div>
      </div>
      <h3 class="ttu text-teal" id="buttery">Buttery</h3>
    </section>   
    <svg xmlns="http://www.w3.org/2000/svg" class=""viewBox="0 0 1440 320"><path fill="#21409A" fill-opacity="1" d="M0,224L40,224C80,224,160,224,240,197.3C320,171,400,117,480,128C560,139,640,213,720,229.3C800,245,880,203,960,176C1040,149,1120,139,1200,160C1280,181,1360,235,1400,261.3L1440,288L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z" ></path></svg>  
    <section class="background-dark-purple double-accent-padding bottom-padding">
            <img src="{{'rebrand-guarantee-badge-purple.svg' | asset_url}}" id="paca-facts-badge"/>
      <h1 class="ttu text-white nm xl">Is Alpaca Fiber<br> Magical?</h1>

      <a href="/pages/wholesale-collections?ls=GB9ORkigS_yKGfxUMGul5g"><div class="animated-button-red animated-button"><h2 class="text-natural ttu tac">Order Now</h2></div></a>
      <p class="fr ib text-natural do" id="magical-explain">Everyone loves Merino wool in the winter, but if it's the summertime, you'll be up to your eyeballs in sweat! Alpaca fleece doesn't have that problem- the hollow structure of the fiber allows it to trap heat when it's cold and keep cool when it's warm! That means alpaca fleece can be used year-round for all kinds of weather!</p> 
    </section>
  </section>
    <section class="mo background-dark-purple accent-padding" id="mobile-everyone-loves">
         <p class="ib text-natural" id="">Everyone loves Merino wool in the winter, but if it's the summertime, you'll be up to your eyeballs in sweat! Alpaca fleece doesn't have that problem- the hollow structure of the fiber allows it to trap heat when it's cold and keep cool when it's warm! That means alpaca fleece can be used year-round for all kinds of weather!</p>
       </section>
  <section id="talking-pacas" class="page-header">
  </section>
        <svg xmlns="http://www.w3.org/2000/svg" style="margin-top: -22vw;"class="footer-topper"viewBox="0 0 1440 320"><path fill="white" fill-opacity="1" d="M0,224L40,224C80,224,160,224,240,197.3C320,171,400,117,480,128C560,139,640,213,720,229.3C800,245,880,203,960,176C1040,149,1120,139,1200,160C1280,181,1360,235,1400,261.3L1440,288L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z" ></path></svg> 
         <div class="background-white">
         <svg width="100%" height="45vw" viewBox="0 0 1098.72 89.55" style="margin-top: -32%;margin-left: 34vw;">
              <path id="curve" fill="transparent" d="M0,224L40,224C80,224,160,224,240,197.3C320,171,400,117,480,128C560,139,640,213,720,229.3C800,245,880,203,960,176C1040,149,1120,139,1200,160C1280,181,1360,235,1400,261.3L1440,288L1440"></path>
              <text width="100%" fill="black" style="transform: translate3d(0px, 0px, 0px); font-size: 71px; font-weight: 600; display: flex; align-items: center;text-transform: uppercase;font-family: 'Avenir-Next-Condensed';">
                <textPath id="text-path" alignment-baseline="top" xlink:href="#curve" startOffset="10%" style="transform: translate3d(0px, 0px, 0px);" width="169.53066741237882%" fill="#2d2b26">"Alpac-Ahhhhh"</textPath>
              </text>
  </svg>
</div> 
    </section>

</main>

<style>
.bottom-padding { padding-bottom: 10vw; }
#magical-explain { width: 40vw; margin-top: -10%; }

  #paca-facts-badge {
    width: 11vw;
    float: right;
    margin: 2vw;
    margin-top: -2vw;
    min-width: 100px;
}

  svg { margin-bottom: -10px }
#about-alpaca-green {
    background-image: url("{{'ourfavs_alpaca.jpg' | asset_url}}");

    background-position: bottom right;
    background-size: 112%;
  }
#wool {
    background-image: url("{{'wool-no_text.png' | asset_url}}");
    background-size:  cover;
  }
  #alpaca-fleece {
    background-image: url("{{'rebrand-alpaca-no_text.png' | asset_url}}");
    background-size:  cover;
  }

  #cashmere {
    background-image: url("{{'cashmere-no_text.png' | asset_url}}");
    background-size:  cover;
  }

    #polyester{
    background-image: url("{{'poly-no_text.png' | asset_url}}");
    background-size:  cover;
  }
    #nylon {
    background-image: url("{{'nylon-no_text.png' | asset_url}}");
    background-size:  cover;
  }
   #cotton{
    background-image: url("{{'cotton-no_text.png' | asset_url}}");
    background-size:  cover;
  }
  #about-alapca-green {
    background-url: url("{{'placeholder.png' | asset_url}}");
    background-position:  right;
    background-size:  cover;
  }
  .text-bubble { 
    border-radius: 100%;
  }
  .bottom-curves { margin-top: -10px; }
  .texture-bubble {
    margin: 10px;
    width: 7vw;
    height: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:  100%;
  }
  /* stay on page */
    h1.xl { 
      font-size: 10vw;
      line-height: 9vw;
    }
    #alpaca-break { margin-bottom: -4px !important; }
    /* endd  */
  @media only screen and (min-width: 800px) {
        .text-bubble { 
      padding: 20px; 
      border-radius: 100%; 
      width:  20vw;
      height:  20vw;
    }
      #talking-pacas { 
    
    background-image: url("{{'UpdatedLandingPageATFDesktop-C.png' | asset_url}}"); 
    background-size:  cover;
        margin-bottom:  -10vw;

  }
  } 
   @media only screen and (max-width: 799px) {
    .about-header h1.xl {
      font-size: 20vw;
      line-height: 18vw;
      margin-bottom: -20px;
    }
    #goat-description, #mobile-everyone-loves {
      margin-top:  -45px;
    }
            .text-bubble {
    padding: 20px;
    border-radius: 100%;
    width: 50vw;
    height: 50vw;
}
     #product-review-wrapper h1 { margin-top: 30px; }
      #talking-pacas { 
    
    background-image: url("{{'UpdatedLandingPageATFDesktop-C.png' | asset_url}}"); 
    background-size:  cover;
    height: 50vw;
      margin-bottom: -14vw;
  }
    #about-alpaca-green { height: 100vw; }
  } 
  div { box-sizing: border-box; }
</style>
