    <main class="our-story background-white">  
      <section id="our-story-header" class="double-accent-padding fw">
        <h1 class="text-white ttu nm">We're on a quest to make the world's coziest clothes. But how did such an epic saga begin?</h1>
      </section>
      <section id="meet-the-founders" class="flex-container accent-padding">
        <div class="half accent-padding do">
          <img src="{{'rebrand-founders.png' | asset_url}}" alt="Justin and Christian" style="margin-bottom:  -2vw;" />
        </div>
        <div class="half accent-padding">
          <h3 class="ttu accent-crown">Comfy & Caring Beginnings</h3>
          <p>Pacas got started when two brothers, Justin and Christian, decided to help make the world a more comfortable place for those who need it most --kids. After visiting a children's hospital and hearing from kids that the hospital socks left their feet cold and itchy, the brothers knew there had to be something they could do to make these kids' stays a bit cozier.</p>
        </div>
            <div class="half accent-padding mo">
          <img src="{{'rebrand-founders.png' | asset_url}}"  alt="Justin and Christian" />
        </div>
      </section>

      <section class="background-purple tac accent-padding">
        <h1 class="ttu text-natural nm" style="font-size: 5vw;">We are the <span class="detail-accent ttu text-natural" id="champion-accent">Champions</span> of Alpaca.</h1>
      </section>
      <section id="meet-the-fibers" class="flex-container accent-padding">
        <div class="half accent-padding">
          <h3 class="ttu accent-crown">Fiber that's Packa'd with Benefits</h3>
          <p>After researching fabrics and fibers throughout the industry, the brothers discovered alpaca fiber and immediately fell for its buttery softness and wealth of fantastic properties. In addition, the brothers also fell in love with the source of this mystical fiber: the illustrious alpacas themselves! As their journey continued, they learned more about alpacas, the land that's supported them, and the community of farmers that have helped these animals prosper for generations.</p>
        </div>
        <div class="half accent-padding">
          <img src="{{'rebrand-alpaca-full-body.jpeg' | asset_url}}"  alt="Image of Alpaca"/>
        </div>
      </section>
          <svg xmlns="http://www.w3.org/2000/svg" class="updated-topper"viewBox="0 100 1440 220"><path fill="#21409A" fill-opacity="1" d="M0,224L40,224C80,224,160,224,240,197.3C320,171,400,117,480,128C560,139,640,213,720,229.3C800,245,880,203,960,176C1040,149,1120,139,1200,160C1280,181,1360,235,1400,261.3L1440,288L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z" ></path></svg>  

      <section id="meet-the-mission" class="flex-container background-dark-purple accent-padding">
        <div class="half accent-padding do">
          <img src="{{'w3g.png' | asset_url}}" alt="3 Pack of Pacas" />
        </div>
        <div class="half accent-padding">
          <h3 class="ttu accent-crown text-white">Making the World a Cozier Place</h3>
          <p class="text-white">Not long after, Pacas was born. We strive to make the world's coziest clothes from the earth's most versatile fiber, all while giving back to the animals and communities that make our existence possible. We help the alpaca farming community to ensure our woolly superstars can keep grazing into the future, and we also partner with local children's hospitals to provide kids with Pacas during their stays.</p>
        </div>
          <div class="half accent-padding mo">
          <img src="{{'w3g.png' | asset_url}}" alt="3 Pack of Pacas"/>
        </div>
      </section>
      <section class="flex-container-no accent-padding jcc">
        <img src="{{'childrens-hospital-of-philadelphia-logo-vector.png' | asset_url}}" alt="Children's Hospital of Philadelphia"class="charity-logo" />
<!--         <img src="{{'childrens-logo-new.png' | asset_url}}" class="charity-logo"  alt="Cincinnati Children's Hospital"/> -->
        <img src="{{'Lurie_Childrens_Logo.jpeg' | asset_url}}" class="charity-logo" alt="Luries Children's Hopsital of Chicago" />
      </section>
       <section class="flex-container-no accent-padding jcc">
        <img src="{{'download.png' | asset_url}}" class="charity-logo" alt="Huntsville Hospital Foundation" />
        <img src="{{'m-health.png' | asset_url}}" class="charity-logo" alt="University of Minnesota Masonic Children’s Hospital" />
        <img src="{{'memorial-care.jpeg' | asset_url}}" class="charity-logo" alt="Miller Children’s & Woman’s Hospital Long Beach" />
      </section>
      <section class="flex-container-no accent-padding jcc">
        <img src="{{'monroe.png' | asset_url}}" class="charity-logo" alt="Monroe Carell Jr. Children’s Hospital at Vanderbilt"/>
        <img src="{{'mountsinai-og-logo.jpeg' | asset_url}}" class="charity-logo" alt="Mount Sinai"/>
        <img src="{{'nhf-presbyterian-logo.png' | asset_url}}" class="charity-logo"alt="Novant Health Presbyterian Medical Center" />
      </section>
       <section class="flex-container-no accent-padding jcc">
                       <img src="{{'logoummwph-01.png' | asset_url}}" class="charity-logo"  alt="Mt. Washington Pediatric Hospital"/>

         <img src="{{'seattle-childrens-logo-vector.png' | asset_url}}" class="charity-logo"  alt="Seattle Children's Hospital"/>
      </section>
       <section class="background-teal ofxh">
          <div class="fw flex-container index-product-preview-wrapper double-accent-padding" id="socks-quick">
        <div class="one-third index-product-preview">
        </div>
        <div class="one-third index-product-preview">
        </div>
        <div class="one-third index-product-preview">
        </div>
      <div class="one-third index-product-preview">
        </div>
      </div>
    <svg xmlns="http://www.w3.org/2000/svg" class="footer-topper"viewBox="0 100 1440 220"><path fill="white" fill-opacity="1" d="M0,224L40,224C80,224,160,224,240,197.3C320,171,400,117,480,128C560,139,640,213,720,229.3C800,245,880,203,960,176C1040,149,1120,139,1200,160C1280,181,1360,235,1400,261.3L1440,288L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z" ></path></svg>  
        <div class="background-white">
         <svg width="100%" height="15vw" viewBox="0 100 1098.72 89.55" style="margin-top: -7%;margin-left: 34vw;">
              <path id="curve" fill="transparent" d="M0,224L40,224C80,224,160,224,240,197.3C320,171,400,117,480,128C560,139,640,213,720,229.3C800,245,880,203,960,176C1040,149,1120,139,1200,160C1280,181,1360,235,1400,261.3L1440,288L1440"></path>
              <text width="100%" fill="black" style="transform: translate3d(0px, 0px, 0px); font-size: 71px; font-weight: 600; display: flex; align-items: center;text-transform: uppercase;font-family: 'Avenir-Next-Condensed';">
                <textPath id="text-path" alignment-baseline="top" xlink:href="#curve" startOffset="10%" style="transform: translate3d(0px, 0px, 0px);" width="169.53066741237882%" fill="#2d2b26">"Alpac-Ahhhhh"</textPath>
              </text>
  </svg>
</div> 
    </section>

</main>
<style>
@media only screen and (min-width: 800px) {
#champion-accent {
  font-family: 'Avenir-Next-Condensed'; 
  margin: 0 5vw;
}
}
@media only screen and (max-width: 799px) {
#champion-accent {
  font-family: 'Avenir-Next-Condensed'; 
  margin: 0 6vw;
}
}
#our-story-header { 
  background-image:  url("{{'rebrand-about-page-desktop-hero.png' | asset_url}}");
  background-size:  cover;
  background-repeat:  no-repeat;
  height: 50vw;
    box-sizing: border-box;
}
#our-story-header h1 { font-size: 6vw; line-height: 1.2; }
.charity-logo { max-width: 30%; margin: 0 10px; }
</style>
