<main id="custom-bundles"> 
  <section class="collection-header double-accent-padding background-teal" id="custom-bundle-wrapper">
    <div>
      <h2 class="nm ttu text-white tac">Bundle & Save</h2> 
      <p class="nm text-white tac">Select a bundle, and choose your colors!</p>
      <p class="nmt text-white tac subscript">*Limit One Bundle Per Purchase</p>
    </div>
  </section>

  <svg xmlns="http://www.w3.org/2000/svg" class="updated-topper do"viewBox="0 100 1440 220"><path fill="white" fill-opacity="1" d="M0,224L40,224C80,224,160,224,240,197.3C320,171,400,117,480,128C560,139,640,213,720,229.3C800,245,880,203,960,176C1040,149,1120,139,1200,160C1280,181,1360,235,1400,261.3L1440,288L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z" ></path></svg>  
  <svg xmlns="http://www.w3.org/2000/svg" class="topper mo"viewBox="0 0 1440 320"><path fill="white" fill-opacity="1" d="M0,224L40,224C80,224,160,224,240,197.3C320,171,400,117,480,128C560,139,640,213,720,229.3C800,245,880,203,960,176C1040,149,1120,139,1200,160C1280,181,1360,235,1400,261.3L1440,288L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z" ></path></svg>  

  <div class="background-white flex-container aifs" >
    <div class="flex-container-no mo jes" style="padding: 5px;">
      <div class="background-natural one-third" style="padding: 10px; margin: 5px; border-radius: 10px;">
        <a href="/collections/all-socks">
          <p class="nm tac">Socks</p>
        </a>
      </div>
      <div class="background-natural one-third" style="padding: 10px; margin: 5px; border-radius: 10px;">
        <a href="/collections/throw-blankets"/>
          <p class="nm tac">Throws</p>
        </a>
      </div>
      <div class="background-natural one-third" style="padding: 10px; margin: 5px; border-radius: 10px;">
        <a href="/collections/scarves">
          <p class="nm tac">Scarves</p>
        </a>
      </div>
      <div class="background-natural one-third" style="padding: 10px; margin: 5px; border-radius: 10px;">
        <a href="/collections/summer-wraps">
          <p class="nm tac"><span class="wrap-aba">Wraps</span><span class="wraps-abb" style="display: none;">Shawls</span></p>        </a>
      </div>
    </div>
    <div class="do double-accent-padding">
      <p class="tar mo">X</p>
      <h3 class="ttu detail-accent">Products</h3>
       <a href="/collections/all-socks"/><p class="nm">Socks</p></a>
      <a href="/collections/throw-blankets"><p class="nm">Throws</p></a>
      <a href="/collection/scarves"><p class="nm">Scarves</p></a>
      <a href="/collections/summer-wraps"><p class="nmt"><span class="wrap-aba">Wraps</span><span class="wraps-abb" style="display: none;">Shawls</span></p></a>
    </div>
   
    <section class="row double-padding-tbo">
<!--       <section class="col" id="">
        <section class="card">
          <a href="/pages/bundled-products?box=the-womens-starter-sock-box">
            <div class="product-collection-wrapper">
              <div class="accent-padding">
                <div class="slvr-col-img-wrapper">
                  <img data-src="{{ 'StarterSockBox-W-800x800.png' | asset_url }}" alt="" class="lazyload"/> 
                </div> 
                <h3 class=" nmb">THE WOMEN'S STARTER SOCK BOX</h3>
                <p class="subscript nm">3 Women's Crew Socks <br>2 Women's Light-Weight Crew Socks <br>3 Women's Low Cut Socks <br>3 Women's No Show Socks</p>
              <div class="acfe">
                <p class="nm text-dark-purple subscript">$145.00<span class="strikethrough text-dark-purple">$172.00</span></h4>
              </div>
            </div>
          </div>
        </a>
      </section>
      </section> -->
           <section class="col" id="">
        <section class="card">
          <a href="/pages/bundled-products?box=the-mens-starter-sock-box">
            <div class="product-collection-wrapper">
              <div class="accent-padding">
                <div class="slvr-col-img-wrapper">
                  <img data-src="{{ 'StarterSockBox-M-800x800.png' | asset_url }}" alt="" class="lazyload"/> 
                </div> 
                <h3 class=" nmb">THE MEN'S STARTER SOCK BOX</h3>
                <p class="subscript nm">3 Men's Crew Socks<br>2 Men's Light-Weight Crew Socks <br>3 Men's Low Cut Socks </p>
              <div class="acfe">
                <p class="nm text-dark-purple subscript">$115.00<span class="strikethrough text-dark-purple">$134.00</span></h4>
              </div>
            </div>
          </div>
        </a>
      </section>
      </section>
<!--           <section class="col" id="">
      <section class="card">
          <a href="/pages/bundled-products?box=on-the-go-deluxe">
            <div class="product-collection-wrapper">
              <div class="accent-padding">
                <div class="slvr-col-img-wrapper">
                  <img data-src="{{ 'OntheGoDeluxe-800x800.png' | asset_url }}" alt="" class="lazyload"/> 
                </div> 
                <h3 class=" nmb">ON THE GO DELUXE</h3>
                <p class="subscript nm">1 Scarf <br>1 Hat <br>3 Women's Crew Socks </p>
              <div class="acfe">
                <p class="nm text-dark-purple subscript">$120.00<span class="strikethrough text-dark-purple">$139.00</span></h4>
              </div>
            </div>
          </div>
        </a>
      </section>
    </section> -->
                  <section class="col" id="">
        <section class="card">
          <a href="/pages/bundled-products?box=kiddies">
            <div class="product-collection-wrapper">
              <div class="accent-padding">
                <div class="slvr-col-img-wrapper">
                  <img data-src="{{ 'KiddieBundle-800x800.png' | asset_url }}" alt="" class="lazyload"/> 
                </div> 
                <h3 class=" nmb">KIDDIES</h3>
                <p class="subscript nm">4 Kids' Crew Socks <br>1 Alpaca Toy</p>
              <div class="acfe">
                <p class="nm text-dark-purple subscript">$70.00<span class="strikethrough text-dark-purple">$83.00</span></h4>
              </div>
            </div>
          </div>
        </a>
      </section>
      </section>
<!--       <section class="col" id="">
        <section class="card">
          <a href="/pages/bundled-products?box=the-sock-box-deluxe">
            <div class="product-collection-wrapper">
              <div class="accent-padding">
                <div class="slvr-col-img-wrapper">
                  <img data-src="{{ 'SockBoxDeluxe-800x800.png' | asset_url }}" alt="" class="lazyload"/> 
                </div> 
                <h3 class=" nmb">THE SOCK BOX DELUXE</h3>
                <p class="subscript nm">6 Women's Crew Socks<br>2 Women's Light-Weight Crew Socks <br>3 Women's Low Cut Socks <br>3 Women's Performance Socks <br>6 Women's No Show Socks <br>3 Women's Compression Socks </p>
                <div class="acfe">
                  <p class="nm text-dark-purple subscript">$245.00<span class="strikethrough text-dark-purple">$310.00</span></h4>
                </div>
              </div>
            </div>
           </a>
        </section>
      </section> -->
      <section class="col" id="">
        <section class="card">
          <a href="/pages/bundled-products?box=on-the-go">
            <div class="product-collection-wrapper">
              <div class="accent-padding">
                <div class="slvr-col-img-wrapper">
                  <img data-src="{{ 'OntheGo-800x800.png' | asset_url }}" alt="" class="lazyload"/> 
                </div> 
                <h3 class=" nmb">ON THE GO</h3>
               <p class="subscript nm">1 Boucle Scarf <br>1 Hat </p>

              <div class="acfe">
                <p class="nm text-dark-purple subscript">$105.00<span class="strikethrough text-dark-purple">$115.00</span></h4>
              </div>
            </div>
          </div>
        </a>
      </section>
      </section>

   <section class="col" id="">
      <section class="card">
          <a href="/pages/bundled-products?box=cozy-at-home">
            <div class="product-collection-wrapper">
              <div class="accent-padding">
                <div class="slvr-col-img-wrapper">
                  <img data-src="{{ 'CozyatHome-800x800.png' | asset_url }}" alt="" class="lazyload"/> 
                </div> 
                <h3 class=" nmb">COZY AT HOME</h3>
                <p class="subscript nm">1 Throw Blanket <br>6 Women's Crew Socks </p>
              <div class="acfe">
                <p class="nm text-dark-purple subscript">$215.00<span class="strikethrough text-dark-purple">$238.00</span></h4>
              </div>
            </div>
          </div>
        </a>
      </section>
    </section>
    <section class="col" id="">
      <section class="card">
          <a href="/pages/bundled-products?box=work-from-home">
            <div class="product-collection-wrapper">
              <div class="accent-padding">
                <div class="slvr-col-img-wrapper">
                  <img data-src="{{ 'WFH-800x800.png' | asset_url }}" alt="" class="lazyload"/> 
                </div> 
                <h3 class=" nmb">Work From Home</h3>
                <p class="subscript nm">1 Wrap <br>3 Women's Crew Socks <br>1 Women's Crewneck Sweater </p>
              <div class="acfe">
                <p class="nm text-dark-purple subscript">$230.00<span class="strikethrough text-dark-purple">$269.00</span></h4>
              </div>
            </div>
          </div>
        </a>
      </section>
    </section>
    <section class="col" id="">
      <section class="card">
          <a href="/pages/bundled-products?box=winter-deluxe">
            <div class="product-collection-wrapper">
              <div class="accent-padding">
                <div class="slvr-col-img-wrapper">
                  <img data-src="{{ 'WinterDeluxe-800x800.png' | asset_url }}" alt="" class="lazyload"/> 
                </div> 
                <h3 class=" nmb">WINTER DELUXE</h3>
                <p class="subscript nm">1 Scarf<br>1 Hat <br>3 Women's Crew Socks <br>1 Throw Blanket</p>
              <div class="acfe">
                <p class="nm text-dark-purple subscript">$260.00<span class="strikethrough text-dark-purple">$324.00</span></h4>
              </div>
            </div>
          </div>
        </a>
      </section>
    </section>
<!--     <section class="col" id="">
      <section class="card">
          <a href="/pages/bundled-products?box=ready-for-anything">
            <div class="product-collection-wrapper">
              <div class="accent-padding">
                <div class="slvr-col-img-wrapper">
                  <img data-src="{{ 'ReadyforAnything-800x800.png' | asset_url }}" alt="" class="lazyload"/> 
                </div> 
                <h3 class=" nmb">READY FOR ANYTHING</h3>
                <p class="subscript nm">1 Women's Cardigan <br>1 Hat <br>1 Scarf <br> 3 Women's Crew Socks</p>
              <div class="acfe">
                <p class="nm text-dark-purple subscript">$220.00<span class="strikethrough text-dark-purple">$274.00</span></h4>
              </div>
            </div>
          </div>
        </a>
      </section>
    </section>  -->
    <section class="col" id="">
      <section class="card">
          <a href="/pages/bundled-products?box=family-bundle">
            <div class="product-collection-wrapper">
              <div class="accent-padding">
                <div class="slvr-col-img-wrapper">
                  <img data-src="{{ 'Family Bundle-800x800.png' | asset_url }}" alt="" class="lazyload"/> 
                </div> 
                <h3 class=" nmb">FAMILY BUNDLE</h3>
                <p class="subscript nm">3 Women's Crew Socks <br>3 Men's Crew Socks <br> 4 Kids' Crew Socks</p>
              <div class="acfe">
                <p class="nm text-dark-purple subscript">$125.00<span class="strikethrough text-dark-purple">$132.00</span></h4>
              </div>
            </div>
          </div>
        </a>
      </section>
    </section>
    <section class="col" id="">
      <section class="card">
          <a href="/pages/bundled-products?box=alpaca-for-2">
            <div class="product-collection-wrapper">
              <div class="accent-padding">
                <div class="slvr-col-img-wrapper">
                  <img data-src="{{ 'Alpacafor2-800x800.png' | asset_url }}" alt="" class="lazyload"/> 
                </div> 
                <h3 class=" nmb">ALPACA FOR 2</h3>
                <p class="subscript nm">3 Women's Crew Socks <br>3 Men's Crew Socks</p>
              <div class="acfe">
                <p class="nm text-dark-purple subscript">$90.00<span class="strikethrough text-dark-purple">$98.00</span></h4>
              </div>
            </div>
          </div>
        </a>
      </section>
    </section>
<!--     <section class="col" id="">
      <section class="card">
          <a href="/pages/bundled-products?box=alpaca-for-2-deluxe">
            <div class="product-collection-wrapper">
              <div class="accent-padding">
                <div class="slvr-col-img-wrapper">
                  <img data-src="{{ 'Alpacafor2Deluxe-800x800.png' | asset_url }}" alt="" class="lazyload"/> 
                </div> 
                <h3 class=" nmb">ALPACA FOR 2 DELUXE</h3>
                <p class="subscript nm">3 Men's Crew Socks <br>3 Women's Crew Socks <br>2 Women's Low Cut Socks <br>2 Men's Low Cut Socks</p>
              <div class="acfe">
                <p class="nm text-dark-purple subscript">$130.00<span class="strikethrough text-dark-purple">$154.00</span></h4>
              </div>
            </div>
          </div>
        </a>
      </section>
    </section> -->
<!--       <section class="col" id="">
      <section class="card">
          <a href="/pages/bundled-products?box=jet-set-travel-pack">
            <div class="product-collection-wrapper">
              <div class="accent-padding">
                <div class="slvr-col-img-wrapper">
                  <img data-src="{{ 'Jetsetter-800x800.png' | asset_url }}" alt="" class="lazyload"/> 
                </div> 
                <h3 class=" nmb">JET SET TRAVEL PACK</h3>
                <p class="subscript nm">1 Wrap <br>3 Women's Compression Socks </p>
              <div class="acfe">
                <p class="nm text-dark-purple subscript">$125.00<span class="strikethrough text-dark-purple">$140.00</span></h4>
              </div>
            </div>
          </div>
        </a>
      </section>
    </section>   -->
    </section>
  </section>
  </div>
 <section class="flex-container" id="photo-highlight-cta">
    <div class="half flex-container-no" id="winter-socks">
      <div class="double-accent-padding">
        <h3 class="text-natural ttu nm tac">New<br class="do"> Crew</br> Socks</h3>
        <a href="/collections/womens-crew">
          <div class="animated-button-red ma animated-button">
            <h2 class="text-natural ttu tac">Shop Now</h2>
          </div>
        </a>
      </div>
    </div>
    <div class="side-border"></div>
    <div class="half flex-container-no" id="find-your-match">
     <div class="double-accent-padding">
        <h3 class="text-natural ttu nm tac">New</br> Low Cuts</h3>
        <a href="/collections/womens-low-cut">
        <div class="animated-button-red animated-button ma">
          <h2 class="text-natural ttu tac">Shop Now</h2>
        </div>
        </a>
      </div>
    </div>
  </section>
  <section class="background-teal ofxh">
          <div class="fw flex-container index-product-preview-wrapper double-accent-padding" id="socks-quick">
        <div class="one-third index-product-preview">
        </div>
        <div class="one-third index-product-preview">
        </div>
        <div class="one-third index-product-preview">
        </div>
           <div class="one-third index-product-preview">
        </div>
      </div>
    <svg xmlns="http://www.w3.org/2000/svg" class="footer-topper"viewBox="0 100 1440 220"><path fill="white" fill-opacity="1" d="M0,224L40,224C80,224,160,224,240,197.3C320,171,400,117,480,128C560,139,640,213,720,229.3C800,245,880,203,960,176C1040,149,1120,139,1200,160C1280,181,1360,235,1400,261.3L1440,288L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z" ></path></svg>  
        <div class="background-white">
         <svg width="100%" height="15vw" viewBox="0 100 1098.72 89.55" style="margin-top: -7%;margin-left: 34vw;">
              <path id="curve" fill="transparent" d="M0,224L40,224C80,224,160,224,240,197.3C320,171,400,117,480,128C560,139,640,213,720,229.3C800,245,880,203,960,176C1040,149,1120,139,1200,160C1280,181,1360,235,1400,261.3L1440,288L1440"></path>
              <text width="100%" fill="black" style="transform: translate3d(0px, 0px, 0px); font-size: 71px; font-weight: 600; display: flex; align-items: center;text-transform: uppercase;font-family: 'Avenir-Next-Condensed';">
                <textPath id="text-path" alignment-baseline="top" xlink:href="#curve" startOffset="10%" style="transform: translate3d(0px, 0px, 0px);" width="169.53066741237882%" fill="#2d2b26">"Alpac-Ahhhhh"</textPath>
              </text>
  </svg>
</div>
    </section>
</main>
<style>
  .view-more-products div { margin: 5px;  }
  .slvr-col-img-wrapper img { 
    width: 100%;
    border-radius:  40px;
    background-color: #F3F8FB;
  } 

  .row {
    display: flex; 
    flex-flow: row wrap; 
  }

  .col { 
    display: flex; 
    flex-flow: column; 
  }

  .card {
    display: flex;
    margin: 5px;
    align-items: stretch;
    flex-direction: column;
    height: 100%;
  }
  .color-preview-circle { height: 15px; width: 15px; display: inline-block; border-radius: 100%; margin:  10px 5px 10px 0; } 
  .col h3 {line-height: 1; } 
  @media only screen and (max-width: 588px) {
    .col { flex: 0 0 50% !important; }
  }
  @media only screen and (min-width: 1100px) {
    .col h3 {
      font-size: 1.5vw;
      text-transform: uppercase;
      width: 17vw;
    }
  }
  @media only screen and (min-width: 589px) and (max-width: 1099px) {
    .col h3 {
      font-size: 1.5vw;
      text-transform: uppercase;
      width: 17vw;
    }
  }
  @media only screen and (min-width: 450px) and (max-width: 588px) {
    .col h3 {
      font-size: 4.5vw;
      text-transform: uppercase;
    } 
  }
  @media only screen and (max-width: 449px) {
    .col h3 {
      font-size: 4.5vw;
      text-transform: uppercase;
    }    
    .atf-float h1 { font-size: 17pt; }

  }
    @media only screen and (min-width: 350px) and (max-width: 449px) {
/*        .slvr-col-img-wrapper { height: 200px; }
*/
  }
/*    @media only screen and (max-width: 349px) {
        .slvr-col-img-wrapper { height:200px; }

  }*/

  @media only screen and (min-width: 589px) and (max-width: 799px) {
    .col { flex: 0 0 33% !important; }

  }
  @media only screen and (min-width: 800px) {
    .col { flex: 0 0 33% !important; }
  }

  .card {
/*    box-shadow: 2px 2px 10px #F5F8F8;
*/    height: 100%;
  }
  .card:hover {
/*    box-shadow: rgb(0 0 0 / 8%) 0px 0px 4px 2px; 
*/  }
    @media only screen and (max-width: 588px) {
    .view-more-products { 
      width: 100%; 
      overflow: scroll; 
      white-space: nowrap;
      display: inline-block;
    }
    .view-more-products div {
      display: inline-block;
      margin-right: ;
      width: 200px;
      vertical-align: middle;
    }
  }
  .strikethrough.text-dark-purple { margin-left: 5px; }
</style>