  <!-- Criteo Tag -->
<script type="text/javascript">
window.criteo_q = window.criteo_q || [];
var deviceType = /iPad/.test(navigator.userAgent) ? "t" : /Mobile|iP(hone|od)|Android|BlackBerry|IEMobile|Silk/.test(navigator.userAgent) ? "m" : "d"; window.criteo_q.push(
{ event: "setAccount", account: 94694}, // You should never update this line
{ event: "setEmail", email: "", hash_method: "" }, // Can be an empty string
{ event: "setZipcode", zipcode: "" },
{ event: "setSiteType", type: deviceType},
{ event: "viewItem", item: "1", tms: "custom-guide" });
          </script>
          <!-- END Criteo Tag -->

<style>
@media only screen and (max-width: 799px) {
  footer { display: none;}
}
</style>
<main id="flow">
  <div class="flow-nav-close flex-container-no">
    <div class="jcc fw flex-container-no" style="margin-right: -40px">
      <div class="slide-number flex-container-no jcc active clickable" data-slide="slide-1" id="bubble-1"><p class="nm">1</p></div>
      <div class="slide-number flex-container-no jcc clickable" data-slide="slide-2" id="bubble-2"><p class="nm">2</p></div>
      <div class="slide-number flex-container-no jcc clickable" data-slide="slide-3" id="bubble-3"><p class="nm">3</p></div>
    </div>
    <div class="" style="margin-right: 10px;">
      <div class="flow-close flex-container-no jcc"><p class="nm"><a href="/">⨉</a></p></div>
    </div>
  </div>
  <section id="slide-1" class="flow-slide background-flow-teal continue double-accent-padding flex-container">
    <div class="half">
      <h1 class="text-white ttu nm">Oh Hey <br class="do">There! <br>I'm Paca.</h1>
      <p class="">Did you know my fleece is so soft and<br> rare the Incas valued it more than gold?</p>
      <div class="flow-button background-red clickable">
        <h4 class="text-white tac ttu nm">Cool, Let's Get Started!</h4>
      </div>
    </div>
    <div class="half">

    <div>

    </div>
    </div>
  </section>
  <section id="slide-2" class="flow-slide background-flow-teal continue double-accent-padding flex-container aifs" style="display: none;">
    <div class="third">
     <h1 class="ttu nmb" style="margin-top: 20px;">Why Alpaca?</h1>
      <p class="">Soft Alpaca Wraps<br> Perfect For Summer!</p> 
      <div class="flow-button background-red clickable">
      <h4 class="text-white tac ttu nm">Learn More</h4>

    </div>
    </div>
    <div class="two-thirds">
      <div class="flex-container-no accent-padding aifs">
        <div class="half tac accent-padding">

    <img src= "{{'PB1.gif' | asset_url}}" class="fw do"/> 
        </div>
        <div class="half flex-container-no aifs accent-padding">

        <img src= "{{'PB1.gif' | asset_url}}" class="breezy-vid mo" />
        </div>

      </div>
    </div>
      <style>
    #slide-2 {
        background-repeat: no-repeat;
        background-position: bottom !important;
        }
    @media only screen and (min-width: 1200px) {
      #slide-2 { 
        height: 42vw; 
                background-size: cover !important;

        background-image: url("{{'Desktop_wave_final3.png' | asset_url}}");

      }

    }
            @media only screen and (min-width: 800px) and (max-width: 1199px) {
      #slide-2 { 
        height: 42vw; 
                background-size: contain !important;

        background-image: url("{{'Desktop_wave_final3.png' | asset_url}}");

      }

    }
           @media only screen and (max-width: 799px) {
             .breezy-vid { width: 54vw; }
             

      #slide-2 { 
                background-size: contain !important;
min-height: 180vw !important;
        background-image: url("{{'Mobile_wave_final.png' | asset_url}}");

      }

    }
    @media only screen and (max-width: 799px) {
      .flex-container .third { width: 100%; }
      .flex-container .two-thirds { width: 100%; }
      

    }
  </style>
</section>

  <section id="slide-3" class="flow-slide background-flow-teal2 double-accent-padding flex-container" style="display: none;">
    <div class="half">
      <p class="text-white">Now that you know about our <br>wonderful alpacas, let's show you the goods!</p>
      <h1 class="ttu nm text-white">20% Off Your<br>First Order.</h1>
  

     <div class="flow-button background-red mo" style="margin: 20px auto;"> <a href="/" style="width: 100%; display: inline-block">
        <h4 class="text-white tac ttu nm">Shop Now</h4></a>
      </div>
        <div class="flow-button background-red do" style="margin-top: 20px;"> <a href="/" style="width: 100%; display: inline-block">
        <h4 class="text-white tac ttu nm">Shop Now</h4></a>
      </div>
                      <p class="tac back subscript clickable mo" data-slide="slide-2" data-bubble="2">←Back</p>

    </div>
    <div class="half">
    </div>
  </section>
</main>

<style>
  .background-flow-teal2 {background-color: #8CD0D9; }
@media only screen and (max-width:  799px) {
  #flow { height: 50vh; }
    #flow .half:nth-of-type(2) {
    align-items:  flex-end;
    display:  flex;
    justify-content: center;
}
#flow-badge {
    width: 100px;
    position: absolute;
    right: 6px;
    top: 60vh;
}
  .half { height: fit-content; }

      .flow-button { 
    width: 100%; min-width: fit-content; }
    #flow h1, #flow p { text-align: center; }
    #flow h1 { font-size: 32pt; }
}
.slide-number, .flow-close {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #a0dbe3;
    opacity: 0.5;
    margin: 2.5px;
}
.slide-number p, .flow-close p { color: white; font-weight:  bold; font-size:  10pt;}
.slide-number.active p { color: #a0dbe3; }
.slide-number.active {
  color: blue;
  background-color:  white;
  opacity:  1;
}
.flow-nav-close { height: 50px;
margin-bottom: -50px; }
  h1 { line-height: 1 }
.background-flow-dark-teal {background-color: #027F81;}
@media only screen and (min-width:  800px) {  
  #slide-1 {
    background-image: url("{{'rebrand-slide-1-desk.png' | asset_url}}" );
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
  }
  #slide-1, #slide-2, #slide-3 {padding-top:  50px; min-height: calc(70vh - 121px)}

  #flow-badge {
    width: 13vw;
    position: absolute;
    right: 20px;
    top: 120px;
}
    .flow-button { 
    width: 300px; min-width: fit-content; }
/*  #slide-2 { 
    background-image: url("{{'pacas-desktop-2.png' | asset_url}}" );
    background-size: cover; 
    background-position: right bottom;
    background-repeat: no-repeat;
  }*/
  #slide-3  {
    background-image: url("{{'wraps-still.png' | asset_url}}" );
    background-size: 50vw;
    background-repeat: no-repeat;
    background-position: center right;
}
}
  
    #slide-2 img {
    width: 80vw;
    margin: 20px auto;
}
@media only screen and (max-width:  799px) {  
  #slide-1 {
    background-image: url("{{'pacas-mobile-new-1.png' | asset_url}}" );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
#slide-2 img {
    width: 50vw;
    margin: 20px auto;
    position: absolute;
    right: 20px;
}
  #slide-1, #slide-2, #slide-3 {padding-top:  50px; min-height: calc(100vh - 121px)}

    .flow-button { 
    width: 300px; min-width: fit-content; margin: 0 auto; }
 /* #slide-2 { 
    background-image: url("{{'pacas-mobile-new-2.png' | asset_url}}" );
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
  }*/
  #slide-3  {
    background-image: url("{{'wraps-still.png' | asset_url}}" );
     background-size: contain;
    background-position: center 65%;
    background-repeat: no-repeat;
}
}
  .flow-button { 
    border-radius: 40px;
    padding:  10px;
  }
  .fjAXVD.fjAXVD { max-width: none; }
</style>
<script>
  $('.slide-number').click(function() {
    $(this).siblings().removeClass('active'); 
    $(this).addClass('active')
    let slideNumber = "#" + $(this).data("slide")
    $('.flow-slide:visible').hide()
    $(slideNumber).show(); 
  });
    $('.back').click(function() {
    let slideNumber = "#" + $(this).data("slide")
        let bubbleNumber = "#bubble-" + $(this).data("bubble")

    $('.flow-slide:visible').hide()
    $(slideNumber).show(); 
      $('.slide-number').removeClass('active');
     $(bubbleNumber).addClass("active")
  });
  $('.flow-button').click(function() {
    $('.continue:visible').hide().next().show();
    $('.slide-number.active').removeClass('active').next('.slide-number').addClass('active')
  })
</script>

<style style="">
  #slide-2 { 
         background-color: #D3EDF4 !important; 
    background-size: cover; 
    background-position: right bottom;
    background-repeat: no-repeat;
  }
  @media only screen and (max-width:  799px) {  
  #slide-2 { 
     background-color: #D3EDF4 !important;  
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    }
  }



</style>